<a href="https://colab.research.google.com/github/IlyaZutler/Project_2-Trucks/blob/main/DM%20_%20Project_2_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dynamic mitochondria Project - Heavy Machinery Auction Price Estimator

> https://www.kaggle.com/t/9baafb8850d74e4499c7b1ba97d6f115

### Timeline
- **Start Date:** [Start Date]
- **End Date:** 14/07/2024 (11 days to go)

### 2. Exploratory Data Analysis (EDA)

Conduct EDA to understand the dataset and identify any data quality issues. Look for missing values, outliers, and relationships between features and the target variable.

### 3. Data Preprocessing

- Handle missing values appropriately.
- Encode categorical variables.
- Normalize or standardize numerical features if necessary.

### 6. Model Improvement

- Handle missing values and categorical variables more effectively.
- Use feature importances to identify key features.
- Perform feature engineering to create new informative features.
- Tune hyperparameters using grid search or other techniques.
- Monitor for overfitting by comparing training and testing performance.

### 7. Final Submission

Generate predictions for the validation set:

```python
valid = pd.read_csv('valid.csv')
X_valid = valid.drop(columns=['SalesID'])
y_valid_pred = model.predict(X_valid)

# Create a submission file
submission = pd.DataFrame({'SalesID': valid['SalesID'], 'SalePrice': y_valid_pred})
submission.to_csv('final_submission.csv', index=False)
```

## Practical Data Science Guidelines

- **Efficient Workflows:** Use a random subset of 20,000 rows for initial experiments. Use the full dataset for the final submission.
- **Iterative Approach:** Start with a basic model and iteratively improve it by trying small ideas.
- **Feature Engineering:** Transform and combine existing features creatively.
- **Documentation:** Keep track of your experiments and results. Document what works and what doesn't.

## Collaboration and Presentation

- **Collaboration:** Discuss your work openly within your team or with other teams. Sharing insights and learning from each other is encouraged.
- **Presentation:** Present your methodology, results, and the techniques that helped the most. Document your journey and the steps you took to achieve your results

In [172]:
import gdown
from pathlib import Path

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [173]:
def download_from_gdrive(url, filename):
    # Extract the file ID from the URL
    file_id = url.split('/')[-2]
    download_url = f"https://drive.google.com/uc?id={file_id}"

    # Download the file
    if Path(filename).exists():
        print(f"File '{filename}' already exists. Skipping download.")
    else:
        gdown.download(download_url, filename, quiet=False)
        print(f"File downloaded as: {filename}")

train = 'https://drive.google.com/file/d/1guqSpDv1Q7ZZjSbXMYGbrTvGns0VCyU5/view?usp=drive_link'
valid = 'https://drive.google.com/file/d/1j7x8xhMimKbvW62D-XeDfuRyj9ia636q/view?usp=drive_link'
# Example usage

download_from_gdrive(train, 'train.csv')
download_from_gdrive(valid, 'valid.csv')

df = pd.read_csv('train.csv')
df_valid = pd.read_csv('valid.csv')

File 'train.csv' already exists. Skipping download.
File 'valid.csv' already exists. Skipping download.

<ipython-input-173-861d4f7287ed>:20: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

## Exploratory Data Analysis (EDA)

In [174]:
#df.fiProductClassDesc.value_counts()

In [175]:
#df.info()

In [176]:
 #df.SalesID.nunique()

In [177]:
# df.isnull().sum()

In [178]:
#df.describe()

In [179]:
#sns.histplot(data=df, x='SalePrice', bins=20)

In [180]:
# to see value_counts for all categorical columns, but some realy categorical columns has numerical type like ModelID
categorical_cols = df.select_dtypes(exclude='number').columns
for col in categorical_cols:
  print(f"Value counts for column '{col}':")
  print(df[col].value_counts())
  print(f"NaN values:{df[col].isnull().sum()}")
  print()

Value counts for column 'UsageBand':
UsageBand
Medium    33985
Low       23620
High      12034
Name: count, dtype: int64
NaN values:331486

Value counts for column 'saledate':
saledate
2/16/2009 0:00    1932
2/15/2011 0:00    1352
2/19/2008 0:00    1300
2/15/2010 0:00    1219
2/11/2008 0:00    1100
                  ...
1/16/2004 0:00       1
3/27/2006 0:00       1
7/25/2003 0:00       1
1/16/2006 0:00       1
6/9/2008 0:00        1
Name: count, Length: 3919, dtype: int64
NaN values:0

Value counts for column 'fiModelDesc':
fiModelDesc
310G        5039
416C        4869
580K        4315
310E        4233
140G        4083
            ...
EX210-5        1
KX025          1
EX120-5F       1
EX100-5E       1
HW180          1
Name: count, Length: 4999, dtype: int64
NaN values:0

Value counts for column 'fiBaseModel':
fiBaseModel
580      19798
310      17354
D6       13110
416      12687
D5        9342
         ...
830-2        1
272          1
PC230        1
KBD65        1
HW180        1
Name: count, Length: 1950, dtype: int64
NaN values:0

Value counts for column 'fiSecondaryDesc':
fiSecondaryDesc
C                43235
B                39203
G                36424
H                24050
E                21048
D                19457
F                 9153
K                 7779
L                 5508
A                 5504
M                 5163
J                 4370
P                 4203
LC                4027
SUPER L           3853
N                 3625
R                 3327
LE                2459
XT                2111
Z                 1740
SUPER M           1647
PX                1559
SE                1369
UU                1315
SG                1289
EX                 995
SUPER K            903
US                 838
UR                 820
MR                 709
S                  598
BL                 562
SR                 526
URG                456
ZTS                395
SUPER E            277
MXT                275
LX                 185
NX                 170
U                  168
PT                 162
CH                 156
Q                  151
3                  125
7                  112
SRLC               104
T                  101
WD                  95
AX                  94
JX                  76
USR                 69
TM                  68
HD                  52
ZF                  50
W                   49
B                   48
ZHS                 47
LCM                 46
LGP                 44
HAG                 38
FR                  38
SU                  38
SJ                  38
SX                  37
MU                  27
TX                  27
AG                  26
DX                  26
MT                  23
ZX                  23
V                   23
SXT                 21
-2                  21
SUPER               20
DZ                  18
EST                 18
SL                  16
BZD                 16
HDSL                16
PS                  15
LCH                 15
X                   15
HF                  14
LT                  14
WX                  14
XLT                 14
CS                  14
LS                  13
GT                  13
XL                  12
SP                  11
LR                  11
SB                  11
C                   10
EL                  10
#NAME?              10
MRX                  9
TC                   9
ZHS G                9
CR                   9
0.7                  8
NL                   8
-5                   7
CX                   7
-5L                  7
WT                   7
AW                   7
MSR SPIN ACE         7
HZ                   7
BEC                  7
1                    7
SUPER M PLUS         7
AA                   6
BZ                   6
NE                   6
SUPER LE             6
ESS                  6
DT                   6
PL                   5
CK                   5
-3                   5
DXT                  5
AB                   4
BLGP                 4
TP                   4
ZT                   3
UNA                  3
ZTM                  3
2                    3
USRK                 3
PTC                  3
HLGP                 2
-7                   2
DL                   2
H90                  2
SRDZ                 2
HDS                  2
LCD                  2
NC                   2
CE                   2
SPIN ACE             2
THF                  2
XP                   2
LC7LR                1
MSR                  1
BLGPPS               1
 MSR SPIN ACE        1
LCLR                 1
-6                   1
CLR                  1
USBL                 1
HLS                  1
STD                  1
MC                   1
5                    1
EG                   1
HX                   1
DC                   1
SUPER R              1
RC                   1
TTL                  1
R-2                  1
CM                   1
CL                   1
EW                   1
M                    1
CKB                  1
HL                   1
H                    1
IV                   1
LD                   1
LC7A                 1
SF                   1
PG                   1
NLC                  1
Name: count, dtype: int64
NaN values:137191

Value counts for column 'fiModelSeries':
fiModelSeries
II             13202
LC              8936
III             5238
-1              4591
-2              3340
-6              3161
-3              2462
-5              2434
-12             1365
-7               907
6                749
7                685
-21              619
IV               618
-8               618
-2.0             612
5                540
3                536
-3LC             463
-20              431
18               415
V                398
#NAME?           396
2                342
-15              327
-3MC             322
-5L              281
-18              238
-17              233
-3L              209
1                195
-5LC             183
16               177
-2N              131
-3.0             109
-1L               97
-16               87
ZTS               83
7.00E+00          80
-2C               65
XT                64
15                60
17                52
IV-2              52
-3PT              41
-3LK              40
-6E               35
22                35
5N                34
8                 34
-7E               33
-6LC              33
-3H               27
LT                24
E                 23
12                21
A                 20
L                 20
-1C               20
2T                19
V-2               18
D                 16
3C                15
GALEO             15
-5E               15
4                 14
6.00E+00          13
-5H               13
WX                13
M                 12
20                11
-6A               11
-7B               11
VHP               11
-1.50E+01         10
-21A              10
-6B                9
-6C                7
-8.0               7
-3EO               7
-11                6
2.0                6
2B                 5
-7K                5
AWS                5
TC                 4
LV                 4
7A                 4
D7                 4
-6K                4
-8E                4
ZX                 4
6LE                3
-3C                3
SeriesII           3
-4                 3
21KomStatII        2
6LK                2
21KomStat          2
XLT                2
-2E                2
-6LK               2
EX                 2
-2A                2
G                  2
 III               1
-2LC               1
ZHS                1
Q                  1
7L                 1
6F                 1
3A                 1
LGP                1
14FT               1
6L                 1
1970               1
-5.0               1
LL                 1
-3M                1
WT                 1
Elite              1
-7.0               1
-1B                1
H                  1
VI                 1
-5F                1
-5A                1
FASTRRACK          1
Name: count, dtype: int64
NaN values:344217

Value counts for column 'fiModelDescriptor':
fiModelDescriptor
L                 15875
LGP               15558
LC                12750
XL                 6434
6                  2885
LT                 2357
5                  2246
3                  1887
CR                 1684
H                  1049
7                   918
SSR                 681
2                   528
Z                   500
ZTS                 387
SR                  373
K                   315
A                   300
E                   299
8                   280
U                   275
LRC                 268
XLT                 257
LCR                 246
XT                  232
WT                  211
TC                  186
LE                  152
XW                  137
C                   136
LK                  117
LRR                 114
SB                  111
N                   101
HT                  101
VHP                  98
SA                   92
4WD                  87
ZX                   85
II                   85
LX                   82
KA                   76
LL                   75
G                    72
1                    59
RTS                  58
WLT                  54
XR                   53
LU                   50
3C                   49
SITEMASTER           49
TLB                  47
3NO                  42
2.00E+00             38
MC                   36
SU                   34
P                    33
3.00E+00             32
LM                   31
LCRTS                30
NSUC                 29
LN                   29
SRLC                 25
SRDZ                 23
LR                   21
IV                   21
LS                   21
IT                   19
DHP                  16
TP                   16
ESL                  16
MH                   15
CUSTOM               14
LC8                  12
DA                   11
AVANCE               11
BE                   11
XP                   11
PLUS                 10
TM                   10
H5                    9
Y                     9
 LGP                  8
 SUPER                7
HF                    7
V                     7
HSD                   7
LCH                   6
HD                    6
XTV                   6
LGPVP                 6
GALEO                 6
7.00E+00              6
SLGP                  5
NLC                   5
 14FT                 5
(BLADE RUNNER)        4
7A                    4
2N                    4
SE                    4
B                     3
SERIES3               3
X                     3
 XLT                  3
 XT                   2
 ZX                   2
6K                    2
LITRONIC              2
KBNA                  2
LongReach             2
RR                    2
PRO                   2
TURBO                 2
DINGO                 2
DW                    2
SUPER K               2
CK                    2
CRSB                  1
DLL                   1
III                   1
4x4x4                 1
K3                    1
VHP/AWD               1
HighLift              1
AE0                   1
High Lift             1
ME                    1
USLC                  1
DT                    1
DELUXE                1
T                     1
M                     1
S                     1
SM                    1
XD                    1
3L                    1
K5                    1
XLVP                  1
TK                    1
Name: count, dtype: int64
NaN values:329206

Value counts for column 'ProductSize':
ProductSize
Medium            62274
Large / Medium    49678
Small             26494
Mini              24840
Large             20975
Compact            6089
Name: count, dtype: int64
NaN values:210775

Value counts for column 'fiProductClassDesc':
fiProductClassDesc
Backhoe Loader - 14.0 to 15.0 Ft Standard Digging Depth             56166
Track Type Tractor, Dozer - 20.0 to 75.0 Horsepower                 17788
Wheel Loader - 150.0 to 175.0 Horsepower                            15114
Track Type Tractor, Dozer - 85.0 to 105.0 Horsepower                14731
Hydraulic Excavator, Track - 21.0 to 24.0 Metric Tons               13323
Hydraulic Excavator, Track - 12.0 to 14.0 Metric Tons               11354
Track Type Tractor, Dozer - 130.0 to 160.0 Horsepower               11140
Track Type Tractor, Dozer - 260.0 + Horsepower                      10980
Backhoe Loader - 15.0 to 16.0 Ft Standard Digging Depth             10566
Wheel Loader - 120.0 to 135.0 Horsepower                            10551
Skid Steer Loader - 1351.0 to 1601.0 Lb Operating Capacity           9321
Skid Steer Loader - 1601.0 to 1751.0 Lb Operating Capacity           9011
Motorgrader - 145.0 to 170.0 Horsepower                              8866
Hydraulic Excavator, Track - 33.0 to 40.0 Metric Tons                8715
Skid Steer Loader - 1751.0 to 2201.0 Lb Operating Capacity           7565
Track Type Tractor, Dozer - 160.0 to 190.0 Horsepower                7561
Wheel Loader - 175.0 to 200.0 Horsepower                             7471
Skid Steer Loader - 1251.0 to 1351.0 Lb Operating Capacity           7361
Hydraulic Excavator, Track - 6.0 to 8.0 Metric Tons                  7317
Wheel Loader - 100.0 to 110.0 Horsepower                             7105
Motorgrader - 45.0 to 130.0 Horsepower                               7096
Track Type Tractor, Dozer - 75.0 to 85.0 Horsepower                  6773
Hydraulic Excavator, Track - 40.0 to 50.0 Metric Tons                6608
Track Type Tractor, Dozer - 190.0 to 260.0 Horsepower                6557
Hydraulic Excavator, Track - 19.0 to 21.0 Metric Tons                6529
Hydraulic Excavator, Track - 24.0 to 28.0 Metric Tons                6235
Hydraulic Excavator, Track - 28.0 to 33.0 Metric Tons                6134
Hydraulic Excavator, Track - 3.0 to 4.0 Metric Tons                  5860
Hydraulic Excavator, Track - 16.0 to 19.0 Metric Tons                5688
Motorgrader - 130.0 to 145.0 Horsepower                              5487
Wheel Loader - 275.0 to 350.0 Horsepower                             5308
Backhoe Loader - 16.0 + Ft Standard Digging Depth                    5184
Wheel Loader - 135.0 to 150.0 Horsepower                             4913
Track Type Tractor, Dozer - 105.0 to 130.0 Horsepower                4877
Hydraulic Excavator, Track - 2.0 to 3.0 Metric Tons                  4869
Wheel Loader - 60.0 to 80.0 Horsepower                               4669
Hydraulic Excavator, Track - 14.0 to 16.0 Metric Tons                4554
Skid Steer Loader - 2201.0 to 2701.0 Lb Operating Capacity           4430
Backhoe Loader - 0.0 to 14.0 Ft Standard Digging Depth               4031
Wheel Loader - 90.0 to 100.0 Horsepower                              3688
Backhoe Loader - Unidentified                                        3468
Wheel Loader - 200.0 to 225.0 Horsepower                             3090
Wheel Loader - 350.0 to 500.0 Horsepower                             3024
Motorgrader - 170.0 to 200.0 Horsepower                              2866
Hydraulic Excavator, Track - 8.0 to 11.0 Metric Tons                 2640
Skid Steer Loader - 2701.0+ Lb Operating Capacity                    2608
Hydraulic Excavator, Track - 4.0 to 5.0 Metric Tons                  2537
Hydraulic Excavator, Track - 11.0 to 12.0 Metric Tons                2258
Hydraulic Excavator, Track - 0.0 to 2.0 Metric Tons                  2147
Hydraulic Excavator, Track - 5.0 to 6.0 Metric Tons                  1975
Hydraulic Excavator, Track - 50.0 to 66.0 Metric Tons                1702
Wheel Loader - 250.0 to 275.0 Horsepower                             1476
Wheel Loader - 225.0 to 250.0 Horsepower                             1324
Motorgrader - 200.0 + Horsepower                                     1173
Skid Steer Loader - 0.0 to 701.0 Lb Operating Capacity               1155
Wheel Loader - 110.0 to 120.0 Horsepower                             1041
Wheel Loader - 40.0 to 60.0 Horsepower                                764
Skid Steer Loader - 976.0 to 1251.0 Lb Operating Capacity             741
Skid Steer Loader - Unidentified                                      739
Skid Steer Loader - 701.0 to 976.0 Lb Operating Capacity              557
Wheel Loader - Unidentified                                           438
Wheel Loader - 80.0 to 90.0 Horsepower                                432
Wheel Loader - 500.0 to 1000.0 Horsepower                             389
Hydraulic Excavator, Track - 66.0 to 90.0 Metric Tons                 348
Wheel Loader - 0.0 to 40.0 Horsepower                                 224
Hydraulic Excavator, Track - 4.0 to 6.0 Metric Tons                   135
Hydraulic Excavator, Track - Unidentified                             117
Track Type Tractor, Dozer - Unidentified                              113
Hydraulic Excavator, Track - 90.0 to 150.0 Metric Tons                 62
Hydraulic Excavator, Track - Unidentified (Compact Construction)       38
Wheel Loader - 1000.0 + Horsepower                                     25
Hydraulic Excavator, Track - 150.0 to 300.0 Metric Tons                21
Hydraulic Excavator, Track - 300.0 + Metric Tons                        1
Motorgrader - Unidentified                                              1
Name: count, dtype: int64
NaN values:0

Value counts for column 'state':
state
Florida           63944
Texas             51682
California        29019
Washington        15955
Georgia           14309
Maryland          12965
Mississippi       12961
Ohio              12190
Colorado          11254
Illinois          11209
New Jersey        10882
North Carolina    10404
Tennessee         10027
Alabama            9997
Pennsylvania       9941
South Carolina     9794
Arizona            9173
New York           8604
Connecticut        8128
Minnesota          7734
Missouri           6961
Nevada             6693
Louisiana          6450
Kentucky           5278
Maine              5095
Indiana            4086
Arkansas           3869
New Mexico         3529
Utah               2895
Unspecified        2801
New Hampshire      2724
Wisconsin          2668
Virginia           2288
Idaho              2018
Oregon             1775
Michigan           1763
Wyoming            1662
Montana            1327
Oklahoma           1311
Iowa               1215
West Virginia       746
Nebraska            722
Kansas              659
Delaware            509
Alaska              430
North Dakota        410
Massachusetts       328
Vermont             300
South Dakota        203
Hawaii              118
Rhode Island         82
Puerto Rico          36
Washington DC         2
Name: count, dtype: int64
NaN values:0

Value counts for column 'ProductGroup':
ProductGroup
TEX    101167
TTT     80520
BL      79415
WL      71046
SSL     43488
MG      25489
Name: count, dtype: int64
NaN values:0

Value counts for column 'ProductGroupDesc':
ProductGroupDesc
Track Excavators       101167
Track Type Tractors     80520
Backhoe Loaders         79415
Wheel Loader            71046
Skid Steer Loaders      43488
Motor Graders           25489
Name: count, dtype: int64
NaN values:0

Value counts for column 'Drive_System':
Drive_System
Two Wheel Drive     46139
Four Wheel Drive    32996
No                  24428
All Wheel Drive       798
Name: count, dtype: int64
NaN values:296764

Value counts for column 'Enclosure':
Enclosure
OROPS                  173932
EROPS                  139026
EROPS w AC              87820
EROPS AC                   17
NO ROPS                     3
None or Unspecified         2
Name: count, dtype: int64
NaN values:325

Value counts for column 'Forks':
Forks
None or Unspecified    178300
Yes                     13777
Name: count, dtype: int64
NaN values:209048

Value counts for column 'Pad_Type':
Pad_Type
None or Unspecified    70614
Reversible              5832
Street                  2663
Grouser                   25
Name: count, dtype: int64
NaN values:321991

Value counts for column 'Ride_Control':
Ride_Control
No                     77685
None or Unspecified    63116

### 3. Data Preprocessing

In [181]:
#df['Transmission'] = df['Transmission'].replace('AutoShift', 'Autoshift')

In [ ]:
def fix_mistakes(X, replacement_dict):
    #X = X.copy()
    for col, replacements in replacement_dict.items():
        X[col] = X[col].replace(replacements)
    return X

fix_mistakes(df, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})
fix_mistakes(df_valid, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})

In [183]:
def fix_data(X, date_col):
    for col in date_col:
        X[col] = pd.to_datetime(X[col])
        X[col + '_Year'] = X[col].dt.year
        X[col + '_Month'] = X[col].dt.month
        X = X.drop(col, axis=1)
    return X

df = fix_data(df, date_col = ['saledate'])
df_valid = fix_data(df_valid, date_col = ['saledate'])

In [ ]:
def first_word_name(X, col):
    for col_ in col:
        X[col_+'_first_word'] = X[col_].apply(lambda x: x.split()[0] if isinstance(x, str) else x)
    return X

first_word_name(df, col = ['fiProductClassDesc'])
first_word_name(df_valid, col = ['fiProductClassDesc'])

In [185]:
# OrdinalEncoder for column 'ProductSize':
# df['ProductSize_3'] = df['ProductSize'].map({'Compact': 1, 'Mini': 2, 'High': 3, 'Small': 4, 'Medium': 5, 'High': 6, 'Large / Medium': 7, 'Large': 8})
# df['ProductSize_3'] = df['ProductSize_3'].fillna(df['ProductSize_3'].mean())
# df['ProductSize_3'].value_counts(), df['ProductSize_3'].isnull().sum()

In [186]:
# processing of categorical ordinal features - using libruary Sklern OrdinalEncoder
# encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']], handle_unknown='use_encoded_value', unknown_value= -1) # Handle unknown values
# df['UsageBand_3'] = encoder.fit_transform(df[['UsageBand']])
# mean_real = df['UsageBand_3'][df.UsageBand_3.isin([0,1,2])].mean()
# df['UsageBand_3'] = df['UsageBand_3'].replace(-1, mean_real)
# # Fix: Fill missing values in the 'UsageBand_3' column and keep it in the DataFrame
# df['UsageBand_3'] = df['UsageBand_3'].fillna(mean_real)
# df['UsageBand_3'].value_counts(), df['UsageBand_3'].isnull().sum()

In [187]:
# 'Undercarriage_Pad_Width' - remove ' inch' from data - to numeric
# df['Undercarriage_Pad_Width_3'] = df['Undercarriage_Pad_Width'].str.replace(' inch', '').replace('None or Unspecified', -1)
# df['Undercarriage_Pad_Width_3'] = pd.to_numeric(df['Undercarriage_Pad_Width_3'])
# mean_real_2 = df['Undercarriage_Pad_Width_3'][df.Undercarriage_Pad_Width_3 != -1].mean()
# df['Undercarriage_Pad_Width_3'] = df['Undercarriage_Pad_Width_3'].replace(-1, mean_real_2)
# df['Undercarriage_Pad_Width_3'] = df['Undercarriage_Pad_Width_3'].fillna(mean_real_2)
# df['Undercarriage_Pad_Width_3'].value_counts(),df['Undercarriage_Pad_Width_3'].isnull().sum()

In [188]:
# 'Stick_Length' - remove " from data - to numeric
# df['Stick_Length_3'] = df['Stick_Length'].str.replace("' ", '.').str.replace('"', '').replace('None or Unspecified', -1)
# df['Stick_Length_3'] = pd.to_numeric(df['Stick_Length_3'])
# mean_real_3 = df['Stick_Length_3'][df.Stick_Length_3.isna() | df.Stick_Length_3 != -1 ].mean()
# print(mean_real_3)
# df['Stick_Length_3'] = df['Stick_Length_3'].replace(-1, mean_real_3)
# df['Stick_Length_3'] = df['Stick_Length_3'].fillna(mean_real_3)
# df['Stick_Length_3'].value_counts(), df['Stick_Length_3'].isnull().sum()

In [189]:
#df[df['YearMade'] == 1000].head(20) # i have not idias what to do with year 1000

## Mean / Target coding

In [190]:
def make_target_mean_dict(X, target_col):
    target_mean_dict = {}
    target_nan_mean_dict = {}

    for col in df.select_dtypes(exclude='number').columns:
        target_mean_dict[col] = X.groupby(col)[target_col].mean().to_dict()
        target_nan_mean_dict[col] = X[df[col].isna()][target_col].mean()

    return target_mean_dict, target_nan_mean_dict


target_mean_dict, target_nan_mean_dict = make_target_mean_dict(df, target_col = 'SalePrice')


def target_encode(X, target_mean_dict, target_nan_mean_dict):
    for col in X.select_dtypes(exclude='number').columns:
        X[col + '_2'] = X[col].map(target_mean_dict[col]).fillna(target_nan_mean_dict[col])
        X[col + '_2'] = X[col + '_2'].astype(float)
    return X

df = target_encode(df, target_mean_dict, target_nan_mean_dict)
df_valid = target_encode(df_valid, target_mean_dict, target_nan_mean_dict)

# Datas for model

In [227]:
df2 = df.select_dtypes('number')
X_valid = df_valid.select_dtypes('number')

y = df2['SalePrice']
X = df2.drop(columns=['SalePrice', 'MachineID', 'ModelID', 'SalesID'])
X_valid2 = X_valid.drop(columns=['MachineID', 'ModelID', 'SalesID'])

X_small = X.sample(1000, random_state=42)
y_small = y.loc[X_small.index]

# 
X_train, X_test, y_train, y_test = train_test_split(X_small, y_small, test_size=0.2, random_state=42)
# X_train = X_small
# y_train = y_small


# scaler = MinMaxScaler()
# X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns, index=X_train.index)
# X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns, index=X_test.index)
# X_valid2 = pd.DataFrame(scaler.transform(X_valid2), columns=X_valid2.columns, index=X_valid2.index)

X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_train.mean())
X_valid2 = X_valid2.fillna(X_train.mean())

In [229]:
%%time
model = RandomForestRegressor(n_jobs=-1,
                              n_estimators = 500,
                              #max_depth = 10,
                              min_impurity_decrease = 100,
                              random_state = 42
                              )

model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

y_valid_pred = model.predict(X_valid2)

print(f'Train RMSE:', np.sqrt(mean_squared_error(y_train, y_train_pred)))
print(f'Test RMSE:', np.sqrt(mean_squared_error(y_test, y_test_pred)))
print(f'R:' , r2_score(y_test, y_test_pred))
print(f'Train MAE:', mean_absolute_error(y_train, y_train_pred))
print(f'Test MAE:', mean_absolute_error(y_test, y_test_pred))

Train RMSE: 3398.7265872829685
Test RMSE: 9511.716290436589
R: 0.8241455394021174
Train MAE: 2345.9663404491343
Test MAE: 6449.848791341991
CPU times: user 6.85 s, sys: 145 ms, total: 6.99 s
Wall time: 4.35 s

In [218]:
### Feature importance
pd.Series(
    model.feature_importances_,
    index=model.feature_names_in_
).sort_values(ascending=False)

fiModelDesc_2                      0.855111
saledate_Year                      0.069607
YearMade                           0.051306
fiProductClassDesc_2               0.003654
fiBaseModel_2                      0.003606
saledate_Month                     0.002307
Ripper_2                           0.002255
Enclosure_2                        0.002019
ProductSize_2                      0.001969
fiSecondaryDesc_2                  0.001346
Tire_Size_2                        0.000944
fiModelDescriptor_2                0.000499
MachineHoursCurrentMeter           0.000456
Blade_Width_2                      0.000394
Drive_System_2                     0.000394
Hydraulics_2                       0.000364
fiModelSeries_2                    0.000291
Blade_Type_2                       0.000281
fiProductClassDesc_first_word_2    0.000274
ProductGroup_2                     0.000268
Transmission_2                     0.000267
ProductGroupDesc_2                 0.000263
Scarifier_2                        0.000191
UsageBand_2                        0.000174
state_2                            0.000174
Undercarriage_Pad_Width_2          0.000170
Stick_Length_2                     0.000162
auctioneerID                       0.000152
Forks_2                            0.000124
Tip_Control_2                      0.000120
Enclosure_Type_2                   0.000112
Pushblock_2                        0.000093
Travel_Controls_2                  0.000080
datasource                         0.000073
Blade_Extension_2                  0.000070
Engine_Horsepower_2                0.000067
Ride_Control_2                     0.000058
Track_Type_2                       0.000056
Coupler_2                          0.000047
Backhoe_Mounting_2                 0.000043
Steering_Controls_2                0.000041
Grouser_Type_2                     0.000027
Pattern_Changer_2                  0.000020
Differential_Type_2                0.000018
Thumb_2                            0.000017
Turbocharged_2                     0.000015
Stick_2                            0.000009
Pad_Type_2                         0.000007
Grouser_Tracks_2                   0.000003
Coupler_System_2                   0.000002
Hydraulics_Flow_2                  0.000001
dtype: float64

In [219]:
# Create a submission file
submission = pd.DataFrame({'SalesID': X_valid['SalesID'], 'SalePrice': y_valid_pred})
submission.to_csv('final_submission.csv', index=False)