<a href="https://colab.research.google.com/github/IlyaZutler/Project_2-Trucks/blob/main/DM%20_%20Project_2_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dynamic mitochondria Project - Heavy Machinery Auction Price Estimator

> https://www.kaggle.com/t/9baafb8850d74e4499c7b1ba97d6f115

### Timeline
- **Start Date:** [Start Date]
- **End Date:** 14/07/2024 (11 days to go)

### 2. Exploratory Data Analysis (EDA)


### 3. Data Preprocessing

### 6. Model Improvement

- Handle missing values and categorical variables more effectively.
- Use feature importances to identify key features.
- Perform feature engineering to create new informative features.
- Tune hyperparameters using grid search or other techniques.
- Monitor for overfitting by comparing training and testing performance.

## Practical Data Science Guidelines

- **Efficient Workflows:** Use a random subset of 20,000 rows for initial experiments. Use the full dataset for the final submission.
- **Iterative Approach:** Start with a basic model and iteratively improve it by trying small ideas.
- **Feature Engineering:** Transform and combine existing features creatively.
- **Documentation:** Keep track of your experiments and results. Document what works and what doesn't.

## Collaboration and Presentation

- **Collaboration:** Discuss your work openly within your team or with other teams. Sharing insights and learning from each other is encouraged.
- **Presentation:** Present your methodology, results, and the techniques that helped the most. Document your journey and the steps you took to achieve your results

In [46]:
import gdown
from pathlib import Path

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, make_scorer

In [47]:
def download_from_gdrive(url, filename):
    # Extract the file ID from the URL
    file_id = url.split('/')[-2]
    download_url = f"https://drive.google.com/uc?id={file_id}"

    # Download the file
    if Path(filename).exists():
        print(f"File '{filename}' already exists. Skipping download.")
    else:
        gdown.download(download_url, filename, quiet=False)
        print(f"File downloaded as: {filename}")

train = 'https://drive.google.com/file/d/1guqSpDv1Q7ZZjSbXMYGbrTvGns0VCyU5/view?usp=drive_link'
valid = 'https://drive.google.com/file/d/1j7x8xhMimKbvW62D-XeDfuRyj9ia636q/view?usp=drive_link'
# Example usage

download_from_gdrive(train, 'train.csv')
download_from_gdrive(valid, 'valid.csv')

df = pd.read_csv('train.csv')
df_valid = pd.read_csv('valid.csv')

File 'train.csv' already exists. Skipping download.
File 'valid.csv' already exists. Skipping download.

<ipython-input-47-861d4f7287ed>:20: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

## Exploratory Data Analysis (EDA)

In [48]:
#df.fiProductClassDesc.value_counts()

In [49]:
#df.head().T

In [50]:
#df.info()

In [51]:
 #df.SalesID.nunique()

In [52]:
# df.isnull().sum()

In [53]:
#df.describe()

In [54]:
#sns.histplot(data=df, x='SalePrice', bins=20)

In [55]:
## to see value_counts for all categorical columns, but some realy categorical columns has numerical type like ModelID
categorical_cols = df.select_dtypes(exclude='number').columns
for col in categorical_cols:
  print(f"Value counts for column '{col}' in TRAIN DF :")
  print(df[col].value_counts())
  print(f"NaN values in Train: {df[col].isnull().sum()} ")
  print()
  print(f"Value counts for column '{col}' in VALID :")
  print(df_valid[col].value_counts())
  print()
  print(f"NaN values in Valid :{df_valid[col].isnull().sum()} ")
  print()
  print()

Value counts for column 'UsageBand' in TRAIN DF :
UsageBand
Medium    33985
Low       23620
High      12034
Name: count, dtype: int64
NaN values in Train: 331486

Value counts for column 'UsageBand' in VALID :
UsageBand
Medium    1847
Low       1691
High       493
Name: count, dtype: int64

NaN values in Valid :7542


Value counts for column 'saledate' in TRAIN DF :
saledate
2/16/2009 0:00    1932
2/15/2011 0:00    1352
2/19/2008 0:00    1300
2/15/2010 0:00    1219
2/11/2008 0:00    1100
                  ...
1/16/2004 0:00       1
3/27/2006 0:00       1
7/25/2003 0:00       1
1/16/2006 0:00       1
6/9/2008 0:00        1
Name: count, Length: 3919, dtype: int64
NaN values in Train: 0

Value counts for column 'saledate' in VALID :
saledate
2/13/2012 0:00    1598
3/29/2012 0:00     765
2/12/2012 0:00     698
3/28/2012 0:00     584
1/28/2012 0:00     510
3/22/2012 0:00     384
2/6/2012 0:00      381
3/8/2012 0:00      353
3/26/2012 0:00     321
3/14/2012 0:00     288
3/7/2012 0:00      276
3/27/2012 0:00     247
2/22/2012 0:00     241
1/26/2012 0:00     232
3/21/2012 0:00     220
4/11/2012 0:00     202
3/15/2012 0:00     186
1/27/2012 0:00     170
2/8/2012 0:00      169
3/1/2012 0:00      156
3/20/2012 0:00     153
2/24/2012 0:00     146
4/10/2012 0:00     146
3/25/2012 0:00     145
3/2/2012 0:00      140
4/25/2012 0:00     139
4/3/2012 0:00      135
3/30/2012 0:00     135
4/4/2012 0:00      134
4/27/2012 0:00     126
4/24/2012 0:00     121
2/7/2012 0:00      114
2/23/2012 0:00     110
3/13/2012 0:00     109
2/21/2012 0:00     107
1/18/2012 0:00     105
4/19/2012 0:00     103
4/12/2012 0:00      99
4/18/2012 0:00      91
4/13/2012 0:00      71
2/17/2012 0:00      71
1/19/2012 0:00      63
4/26/2012 0:00      62
3/19/2012 0:00      57
1/12/2012 0:00      57
2/29/2012 0:00      57
3/24/2012 0:00      56
2/16/2012 0:00      55
3/3/2012 0:00       49
4/5/2012 0:00       46
4/23/2012 0:00      45
4/17/2012 0:00      44
2/9/2012 0:00       44
4/20/2012 0:00      42
3/16/2012 0:00      40
4/28/2012 0:00      39
3/17/2012 0:00      38
2/2/2012 0:00       38
1/25/2012 0:00      36
4/2/2012 0:00       32
3/23/2012 0:00      30
3/5/2012 0:00       21
2/1/2012 0:00       15
2/18/2012 0:00      14
3/31/2012 0:00      12
1/11/2012 0:00      12
1/5/2012 0:00       11
1/16/2012 0:00       8
1/7/2012 0:00        7
4/21/2012 0:00       7
1/4/2012 0:00        7
3/9/2012 0:00        6
3/10/2012 0:00       5
4/14/2012 0:00       5
4/9/2012 0:00        4
2/15/2012 0:00       4
1/30/2012 0:00       3
4/7/2012 0:00        2
1/21/2012 0:00       2
2/28/2012 0:00       2
3/6/2012 0:00        2
1/14/2012 0:00       1
1/6/2012 0:00        1
1/13/2012 0:00       1
2/4/2012 0:00        1
1/17/2012 0:00       1
1/20/2012 0:00       1
1/23/2012 0:00       1
1/31/2012 0:00       1
2/27/2012 0:00       1
1/1/2012 0:00        1
3/12/2012 0:00       1
4/16/2012 0:00       1
2/10/2012 0:00       1
Name: count, dtype: int64

NaN values in Valid :0


Value counts for column 'fiModelDesc' in TRAIN DF :
fiModelDesc
310G        5039
416C        4869
580K        4315
310E        4233
140G        4083
            ...
EX210-5        1
KX025          1
EX120-5F       1
EX100-5E       1
HW180          1
Name: count, Length: 4999, dtype: int64
NaN values in Train: 0

Value counts for column 'fiModelDesc' in VALID :
fiModelDesc
310G         309
420D         116
416C         107
140G         103
580MII        91
            ...
HL7407         1
HL757XTD7      1
HL7803         1
R360           1
EX60-3         1
Name: count, Length: 1731, dtype: int64

NaN values in Valid :0


Value counts for column 'fiBaseModel' in TRAIN DF :
fiBaseModel
580      19798
310      17354
D6       13110
416      12687
D5        9342
         ...
830-2        1
272          1
PC230        1
KBD65        1
HW180        1
Name: count, Length: 1950, dtype: int64
NaN values in Train: 0

Value counts for column 'fiBaseModel' in VALID :
fiBaseModel
310          532
D6           417
580          381
D5           294
416          213
            ...
645            1
1400           1
JS160          1
ROBOT 190      1
G3             1
Name: count, Length: 786, dtype: int64

NaN values in Valid :0


Value counts for column 'fiSecondaryDesc' in TRAIN DF :
fiSecondaryDesc
C                43235
B                39203
G                36424
H                24050
E                21048
D                19457
F                 9153
K                 7779
L                 5508
A                 5504
M                 5163
J                 4370
P                 4203
LC                4027
SUPER L           3853
N                 3625
R                 3327
LE                2459
XT                2111
Z                 1740
SUPER M           1647
PX                1559
SE                1369
UU                1315
SG                1289
EX                 995
SUPER K            903
US                 838
UR                 820
MR                 709
S                  598
BL                 562
SR                 526
URG                456
ZTS                395
SUPER E            277
MXT                275
LX                 185
NX                 170
U                  168
PT                 162
CH                 156
Q                  151
3                  125
7                  112
SRLC               104
T                  101
WD                  95
AX                  94
JX                  76
USR                 69
TM                  68
HD                  52
ZF                  50
W                   49
B                   48
ZHS                 47
LCM                 46
LGP                 44
HAG                 38
FR                  38
SU                  38
SJ                  38
SX                  37
MU                  27
TX                  27
AG                  26
DX                  26
MT                  23
ZX                  23
V                   23
SXT                 21
-2                  21
SUPER               20
DZ                  18
EST                 18
SL                  16
BZD                 16
HDSL                16
PS                  15
LCH                 15
X                   15
HF                  14
LT                  14
WX                  14
XLT                 14
CS                  14
LS                  13
GT                  13
XL                  12
SP                  11
LR                  11
SB                  11
C                   10
EL                  10
#NAME?              10
MRX                  9
TC                   9
ZHS G                9
CR                   9
0.7                  8
NL                   8
-5                   7
CX                   7
-5L                  7
WT                   7
AW                   7
MSR SPIN ACE         7
HZ                   7
BEC                  7
1                    7
SUPER M PLUS         7
AA                   6
BZ                   6
NE                   6
SUPER LE             6
ESS                  6
DT                   6
PL                   5
CK                   5
-3                   5
DXT                  5
AB                   4
BLGP                 4
TP                   4
ZT                   3
UNA                  3
ZTM                  3
2                    3
USRK                 3
PTC                  3
HLGP                 2
-7                   2
DL                   2
H90                  2
SRDZ                 2
HDS                  2
LCD                  2
NC                   2
CE                   2
SPIN ACE             2
THF                  2
XP                   2
LC7LR                1
MSR                  1
BLGPPS               1
 MSR SPIN ACE        1
LCLR                 1
-6                   1
CLR                  1
USBL                 1
HLS                  1
STD                  1
MC                   1
5                    1
EG                   1
HX                   1
DC                   1
SUPER R              1
RC                   1
TTL                  1
R-2                  1
CM                   1
CL                   1
EW                   1
M                    1
CKB                  1
HL                   1
H                    1
IV                   1
LD                   1
LC7A                 1
SF                   1
PG                   1
NLC                  1
Name: count, dtype: int64
NaN values in Train: 137191

Value counts for column 'fiSecondaryDesc' in VALID :
fiSecondaryDesc
G          1491
C          1196
B           962
H           679
D           566
E           484
J           278
F           267
M           226
N           209
K           200
LC          164
R           136
L           120
A            92
SUPER M      72
SG           65
US           60
Z            59
XT           58
SUPER L      54
LE           51
PX           51
P            42
SE           37
MR           35
LX           30
BL           26
SR           26
EX           26
SUPER K      24
NX           22
MXT          16
S            16
ZTS          15
Q            13
TX           11
SRLC         11
U             8
B             8
UU            8
HAG           8
TC            7
X             6
SUPER E       6
AX            6
HZ            6
HD            5
PT            5
FR            4
#NAME?        4
LC7LR         4
7             4
LGP           4
SJ            4
SUPER         4
ZF            4
AG            4
CH            4
3             3
WT            3
LCM           3
ZHS           2
SXT           2
UR            2
CS            2
LCLR          2
T             2
BH            1
TM            1
LCD           1
NL            1
DZ            1
AW            1
EST           1
WX            1
PL            1
HF            1
BLT           1
SX            1
WD            1
Name: count, dtype: int64

NaN values in Valid :3536


Value counts for column 'fiModelSeries' in TRAIN DF :
fiModelSeries
II             13202
LC              8936
III             5238
-1              4591
-2              3340
-6              3161
-3              2462
-5              2434
-12             1365
-7               907
6                749
7                685
-21              619
IV               618
-8               618
-2.0             612
5                540
3                536
-3LC             463
-20              431
18               415
V                398
#NAME?           396
2                342
-15              327
-3MC             322
-5L              281
-18              238
-17              233
-3L              209
1                195
-5LC             183
16               177
-2N              131
-3.0             109
-1L               97
-16               87
ZTS               83
7.00E+00          80
-2C               65
XT                64
15                60
17                52
IV-2              52
-3PT              41
-3LK              40
-6E               35
22                35
5N                34
8                 34
-7E               33
-6LC              33
-3H               27
LT                24
E                 23
12                21
A                 20
L                 20
-1C               20
2T                19
V-2               18
D                 16
3C                15
GALEO             15
-5E               15
4                 14
6.00E+00          13
-5H               13
WX                13
M                 12
20                11
-6A               11
-7B               11
VHP               11
-1.50E+01         10
-21A              10
-6B                9
-6C                7
-8.0               7
-3EO               7
-11                6
2.0                6
2B                 5
-7K                5
AWS                5
TC                 4
LV                 4
7A                 4
D7                 4
-6K                4
-8E                4
ZX                 4
6LE                3
-3C                3
SeriesII           3
-4                 3
21KomStatII        2
6LK                2
21KomStat          2
XLT                2
-2E                2
-6LK               2
EX                 2
-2A                2
G                  2
 III               1
-2LC               1
ZHS                1
Q                  1
7L                 1
6F                 1
3A                 1
LGP                1
14FT               1
6L                 1
1970               1
-5.0               1
LL                 1
-3M                1
WT                 1
Elite              1
-7.0               1
-1B                1
H                  1
VI                 1
-5F                1
-5A                1
FASTRRACK          1
Name: count, dtype: int64
NaN values in Train: 344217

Value counts for column 'fiModelSeries' in VALID :
fiModelSeries
II          568
LC          239
III         113
-2           81
-5           70
-6           68
-1           55
IV           48
V            40
-3           40
2            39
7            34
3            32
5            31
-5L          27
6            27
-21          27
-15          23
-12          21
-3L          18
#NAME?       17
-3MC         16
-7           13
1            11
-8           10
ZTS           8
3C            7
7.00E+00      6
L             6
XT            6
-2C           5
E             5
5N            5
-3LC          4
-3LK          4
-20           4
-21A          2
22            2
-1L           2
15            2
20            2
-5H           2
-5E           2
-18           2
18            1
2T            1
-2N           1
-3EO          1
16            1
-16           1
IV-2          1
VII           1
D             1
7A            1
-6LC          1
6LK           1
-17           1
4             1
12            1
Name: count, dtype: int64

NaN values in Valid :9814


Value counts for column 'fiModelDescriptor' in TRAIN DF :
fiModelDescriptor
L                 15875
LGP               15558
LC                12750
XL                 6434
6                  2885
LT                 2357
5                  2246
3                  1887
CR                 1684
H                  1049
7                   918
SSR                 681
2                   528
Z                   500
ZTS                 387
SR                  373
K                   315
A                   300
E                   299
8                   280
U                   275
LRC                 268
XLT                 257
LCR                 246
XT                  232
WT                  211
TC                  186
LE                  152
XW                  137
C                   136
LK                  117
LRR                 114
SB                  111
N                   101
HT                  101
VHP                  98
SA                   92
4WD                  87
ZX                   85
II                   85
LX                   82
KA                   76
LL                   75
G                    72
1                    59
RTS                  58
WLT                  54
XR                   53
LU                   50
3C                   49
SITEMASTER           49
TLB                  47
3NO                  42
2.00E+00             38
MC                   36
SU                   34
P                    33
3.00E+00             32
LM                   31
LCRTS                30
NSUC                 29
LN                   29
SRLC                 25
SRDZ                 23
LR                   21
IV                   21
LS                   21
IT                   19
DHP                  16
TP                   16
ESL                  16
MH                   15
CUSTOM               14
LC8                  12
DA                   11
AVANCE               11
BE                   11
XP                   11
PLUS                 10
TM                   10
H5                    9
Y                     9
 LGP                  8
 SUPER                7
HF                    7
V                     7
HSD                   7
LCH                   6
HD                    6
XTV                   6
LGPVP                 6
GALEO                 6
7.00E+00              6
SLGP                  5
NLC                   5
 14FT                 5
(BLADE RUNNER)        4
7A                    4
2N                    4
SE                    4
B                     3
SERIES3               3
X                     3
 XLT                  3
 XT                   2
 ZX                   2
6K                    2
LITRONIC              2
KBNA                  2
LongReach             2
RR                    2
PRO                   2
TURBO                 2
DINGO                 2
DW                    2
SUPER K               2
CK                    2
CRSB                  1
DLL                   1
III                   1
4x4x4                 1
K3                    1
VHP/AWD               1
HighLift              1
AE0                   1
High Lift             1
ME                    1
USLC                  1
DT                    1
DELUXE                1
T                     1
M                     1
S                     1
SM                    1
XD                    1
3L                    1
K5                    1
XLVP                  1
TK                    1
Name: count, dtype: int64
NaN values in Train: 329206

Value counts for column 'fiModelDescriptor' in VALID :
fiModelDescriptor
L           589
LGP         585
LC          545
XL          266
CR          114
LT          111
6            59
5            55
7            45
E            43
3            42
ZTS          40
LRC          27
4WD          25
Z            25
XLT          24
TLB          22
H            22
LCR          21
2            19
XT           17
8            16
SB           11
II           10
LRR          10
XW           10
P            10
VHP           8
WT            8
XP            6
LX            6
SR            6
LK            6
LE            6
U             5
1             5
SA            4
Y             4
LU            4
IT            4
SSR           3
LCRTS         3
K             3
C             3
LR            3
MC            3
SRLC          3
RTS           3
MH            3
XR            3
PLUS          3
TC            3
LN            2
3NO           2
ZX            2
WLT           2
XTV           2
HD            1
SRDZ          1
DA            1
HT            1
3C            1
KA            1
LS            1
 LGP          1
N             1
2.00E+00      1
LM            1
AVANCE        1
GALEO         1
HF            1
CUSTOM        1
SL            1
Name: count, dtype: int64

NaN values in Valid :8676


Value counts for column 'ProductSize' in TRAIN DF :
ProductSize
Medium            62274
Large / Medium    49678
Small             26494
Mini              24840
Large             20975
Compact            6089
Name: count, dtype: int64
NaN values in Train: 210775

Value counts for column 'ProductSize' in VALID :
ProductSize
Medium            2068
Large / Medium    1619
Mini               881
Small              563
Large              421
Compact            191
Name: count, dtype: int64

NaN values in Valid :5830


Value counts for column 'fiProductClassDesc' in TRAIN DF :
fiProductClassDesc
Backhoe Loader - 14.0 to 15.0 Ft Standard Digging Depth             56166
Track Type Tractor, Dozer - 20.0 to 75.0 Horsepower                 17788
Wheel Loader - 150.0 to 175.0 Horsepower                            15114
Track Type Tractor, Dozer - 85.0 to 105.0 Horsepower                14731
Hydraulic Excavator, Track - 21.0 to 24.0 Metric Tons               13323
Hydraulic Excavator, Track - 12.0 to 14.0 Metric Tons               11354
Track Type Tractor, Dozer - 130.0 to 160.0 Horsepower               11140
Track Type Tractor, Dozer - 260.0 + Horsepower                      10980
Backhoe Loader - 15.0 to 16.0 Ft Standard Digging Depth             10566
Wheel Loader - 120.0 to 135.0 Horsepower                            10551
Skid Steer Loader - 1351.0 to 1601.0 Lb Operating Capacity           9321
Skid Steer Loader - 1601.0 to 1751.0 Lb Operating Capacity           9011
Motorgrader - 145.0 to 170.0 Horsepower                              8866

### 3. Data Preprocessing

In [56]:
def Num_to_Object(X, col):
    for col_ in col:
        X[col] = X[col].astype('object')
    return X

df = Num_to_Object(df, col = ['datasource'])
df_valid = Num_to_Object(df_valid, col = ['datasource'])

In [57]:
def fix_mistakes(X, replacement_dict):
    for col, replacements in replacement_dict.items():
        X[col] = X[col].replace(replacements)
    return X

fix_mistakes(df, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})
fix_mistakes(df_valid, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1222837,902859,1376,121,3,1000,0.0,NaN,1/5/2012 0:00,375L,375,NaN,NaN,L,Large / Medium,"Hydraulic Excavator, Track - 66.0 to 90.0 Metr...",Kentucky,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
1,1222839,1048320,36526,121,3,2006,4412.0,Medium,1/5/2012 0:00,TX300LC2,TX300,LC,2,NaN,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,Hydraulic,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
2,1222841,999308,4587,121,3,2000,10127.0,Medium,1/5/2012 0:00,270LC,270,NaN,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 24.0 to 28.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
3,1222843,1062425,1954,121,3,1000,4682.0,Low,1/5/2012 0:00,892DLC,892,D,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
4,1222845,1032841,4701,121,3,2002,8150.0,Medium,1/4/2012 0:00,544H,544,H,NaN,NaN,NaN,Wheel Loader - 120.0 to 135.0 Horsepower,Florida,WL,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,20.5,Manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11568,6333344,1919201,21435,149,2,2005,NaN,NaN,3/7/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11569,6333345,1882122,21436,149,2,2005,NaN,NaN,1/28/2012 0:00,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11570,6333347,1944213,21435,149,2,2005,NaN,NaN,1/28/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11571,6333348,1794518,21435,149,2,2006,NaN,NaN,3/7/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11572,6333349,1944743,21436,149,2,2006,NaN,NaN,1/28/2012 0:00,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [58]:
def fix_data(X, date_col):
    for col in date_col:
        X[col] = pd.to_datetime(X[col])
        X[col + '_Year'] = X[col].dt.year
        X[col + '_Month'] = X[col].dt.month
        X = X.drop(col, axis=1)
    return X

df = fix_data(df, date_col = ['saledate'])
df_valid = fix_data(df_valid, date_col = ['saledate'])

## inflation

In [59]:
# ev_price = df.groupby('saledate_Year')['SalePrice'].mean().sort_index()
# ev_price[2011]/ev_price[2010]
# infl = 1.002
# df['SalePrice'] = df['SalePrice'] * ( infl**(2012 - df['saledate_Year']))
#ev_price

# make new fichers

In [60]:
df.MachineHoursCurrentMeter.replace(0, np.nan, inplace=True)
df_valid.MachineHoursCurrentMeter.replace(0, np.nan, inplace=True)


df.loc[df['YearMade'] == 1000, 'YearMade'] = df['saledate_Year']-1000
df_valid.loc[df_valid['YearMade'] == 1000, 'YearMade'] = df_valid['saledate_Year']-1000

df['age_car'] = df['saledate_Year'] - df['YearMade']
df_valid['age_car'] = df_valid['saledate_Year'] - df_valid['YearMade']


###df_valid['YearMade'] = df_valid['YearMade'] - 1  ##cheating
df_valid['saledate_Year'] = df_valid['saledate_Year'] - 1    ##price inflation

In [61]:
def first_word_name(X, col):
    for col_ in col:
        X[col_+'_first_word'] = X[col_].apply(lambda x: x.split()[0] if isinstance(x, str) else x)
    return X

first_word_name(df, col = ['fiProductClassDesc'])
first_word_name(df_valid, col = ['fiProductClassDesc'])

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saledate_Year,saledate_Month,age_car,fiProductClassDesc_first_word
0,1222837,902859,1376,121,3,1012,NaN,NaN,375L,375,NaN,NaN,L,Large / Medium,"Hydraulic Excavator, Track - 66.0 to 90.0 Metr...",Kentucky,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,1000,Hydraulic
1,1222839,1048320,36526,121,3,2006,4412.0,Medium,TX300LC2,TX300,LC,2,NaN,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,Hydraulic,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN,2011,1,6,Hydraulic
2,1222841,999308,4587,121,3,2000,10127.0,Medium,270LC,270,NaN,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 24.0 to 28.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,12,Hydraulic
3,1222843,1062425,1954,121,3,1012,4682.0,Low,892DLC,892,D,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,1000,Hydraulic
4,1222845,1032841,4701,121,3,2002,8150.0,Medium,544H,544,H,NaN,NaN,NaN,Wheel Loader - 120.0 to 135.0 Horsepower,Florida,WL,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,20.5,Manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2011,1,10,Wheel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11568,6333344,1919201,21435,149,2,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,3,7,Hydraulic
11569,6333345,1882122,21436,149,2,2005,NaN,NaN,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,7,Hydraulic
11570,6333347,1944213,21435,149,2,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,7,Hydraulic
11571,6333348,1794518,21435,149,2,2006,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,3,6,Hydraulic
11572,6333349,1944743,21436,149,2,2006,NaN,NaN,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,6,Hydraulic

In [62]:
def ord_encod_nan(X, col, categories):
    encoder = OrdinalEncoder(categories=[categories], handle_unknown='use_encoded_value', unknown_value= -1)
    X[col + '_3'] = encoder.fit_transform(X[[col]])
    X[col + '_3'].replace(-1, np.nan, inplace=True)
    X[col + '_3'] = pd.to_numeric(X[col + '_3'], errors='coerce')
    X[col + '_3'] = X[col + '_3'].astype('float')

    return X


df = ord_encod_nan(df, col = 'UsageBand', categories = ['Low', 'Medium', 'High'])
df_valid = ord_encod_nan(df_valid, col = 'UsageBand', categories = ['Low', 'Medium', 'High'])

df = ord_encod_nan(df, col = 'ProductSize', categories = ['Mini', 'Compact', 'Small', 'Medium', 'Large / Medium', 'Large', 'High'])
df_valid = ord_encod_nan(df_valid, col = 'ProductSize', categories = ['Mini', 'Compact', 'Small', 'Medium', 'Large / Medium', 'Large', 'High'])

In [63]:
def replace_dict(X, col, repl_dict):
    new_name = col + '_3'

    X[new_name] = X[col]
    for old, new in repl_dict.items():
        X[new_name] = X[new_name].str.replace(old, new, regex=False)
    X[new_name].replace('None or Unspecified', -1)
    X[new_name].replace(-1, np.nan, inplace=True)
    X[new_name] = pd.to_numeric(X[new_name], errors='coerce')
    X[new_name] = X[new_name].astype('float')

    return X

df = replace_dict(df, col = 'Undercarriage_Pad_Width', repl_dict= {' inch': ''})
df_valid = replace_dict(df_valid, col= 'Undercarriage_Pad_Width', repl_dict = {' inch': ''})

df = replace_dict(df, col = 'Stick_Length', repl_dict= {"' ": '.', '"': ''})
df_valid = replace_dict(df_valid, col= 'Stick_Length', repl_dict = {"' ": '.', '"': ''})

In [64]:
#df[df['YearMade'] == 1000].head(20) # i have not idias what to do with year 1000

## Mean / Target encoding    (depend on test / train split)

In [65]:
def make_target_mean_dict(X, y):
    X1 = X.copy()
    y1 = pd.DataFrame(y)

    X1 = pd.concat([X1, y1], axis=1)
    X1 = X1.rename(columns={0: 'SalePrice'})

    target_mean_dict = {}
    target_nan_mean_dict = {}
    for col in X1.select_dtypes(exclude='number').columns:
        target_mean_dict[col] = X1.groupby(col)['SalePrice'].mean().to_dict()
        target_nan_mean_dict[col] = X1[X1[col].isna()]['SalePrice'].mean()
    X1 = X1.drop(columns=['SalePrice'])

    return target_mean_dict, target_nan_mean_dict



def target_encode(X, target_mean_dict, target_nan_mean_dict):
    for col in X.select_dtypes(exclude='number').columns:
        #X[col + '_2'] = X[col].map(target_mean_dict[col]).fillna(-1)
        X[col + '_2'] = X[col].map(target_mean_dict[col]).fillna(target_nan_mean_dict[col])
        X[col + '_2'] = X[col + '_2'].astype(float)
    return X

# Testing model whith different parametrs

In [66]:
# df2 = df.sample(401125, random_state=57)

# y = df2['SalePrice']
# X = df2.drop(columns= ['SalePrice', 'SalesID', 'MachineID', 'ModelID', 'datasource'])

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=179)

# target_mean_dict, target_nan_mean_dict = make_target_mean_dict(X_train, y_train)
# X_train = target_encode(X_train, target_mean_dict, target_nan_mean_dict)
# X_test = target_encode(X_test, target_mean_dict, target_nan_mean_dict)

# X_train = X_train.select_dtypes('number')
# X_test = X_test.select_dtypes('number')

# X_train = X_train.fillna(X_train.mean())
# X_test = X_test.fillna(X_train.mean())

## One single test

In [67]:
# plt.figure(figsize=(20, 20))
# sns.heatmap(X_train.corr(), vmin=-1, fmt=".1f", vmax=1, annot=True, cmap='BrBG')
# plt.show()

In [68]:
# %%time

# model = RandomForestRegressor(n_jobs=-1,
#                               n_estimators = 200,
#                               #max_depth = 10,
#                               #min_samples_leaf = 2,
#                               min_samples_split = 2,
#                               min_impurity_decrease = 0.1,
#                               random_state = 1579,
#                               max_features = 'sqrt',
#                               #max_samples=0.75
#                               )
# model.fit(X_train, y_train)

# y_train_pred = model.predict(X_train)
# y_test_pred = model.predict(X_test)

# print(f'Train RMSE:', np.sqrt(mean_squared_error(y_train, y_train_pred)))
# print(f'Test RMSE:', np.sqrt(mean_squared_error(y_test, y_test_pred)))
# print(f'R:' , r2_score(y_test, y_test_pred))
# print(f'Train MAE:', mean_absolute_error(y_train, y_train_pred))
# print(f'Test MAE:', mean_absolute_error(y_test, y_test_pred))

In [69]:
## Feature importance
pd.Series(
    model.feature_importances_,
    index=model.feature_names_in_
).sort_values(ascending=False)

fiModelDesc_2                      0.260207
fiBaseModel_2                      0.111251
age_car                            0.108081
fiProductClassDesc_2               0.075526
YearMade                           0.053466
Enclosure_2                        0.050068
fiSecondaryDesc_2                  0.045050
saledate_Year                      0.037718
ProductSize_2                      0.032036
ProductSize_3                      0.028327
state_2                            0.015445
saledate_Month                     0.014916
fiModelDescriptor_2                0.013866
fiProductClassDesc_first_word_2    0.013588
ProductGroupDesc_2                 0.011760
auctioneerID                       0.009444
ProductGroup_2                     0.008700
MachineHoursCurrentMeter           0.007903
Ripper_2                           0.006894
Hydraulics_2                       0.006872
Tire_Size_2                        0.005659
Coupler_System_2                   0.005602
Blade_Type_2                       0.005146
fiModelSeries_2                    0.005056
Grouser_Tracks_2                   0.003950
Enclosure_Type_2                   0.003863
Hydraulics_Flow_2                  0.003347
Drive_System_2                     0.003275
UsageBand_3                        0.003224
Blade_Width_2                      0.003201
Forks_2                            0.003023
Ride_Control_2                     0.002967
Travel_Controls_2                  0.002952
Tip_Control_2                      0.002917
UsageBand_2                        0.002868
Transmission_2                     0.002782
Pushblock_2                        0.002538
Stick_Length_2                     0.002259
Engine_Horsepower_2                0.002183
Coupler_2                          0.002071
Blade_Extension_2                  0.001950
Undercarriage_Pad_Width_2          0.001929
Stick_Length_3                     0.001772
Track_Type_2                       0.001697
Thumb_2                            0.001554
Scarifier_2                        0.001390
Undercarriage_Pad_Width_3          0.001322
Turbocharged_2                     0.001292
Pattern_Changer_2                  0.001289
Pad_Type_2                         0.001209
Grouser_Type_2                     0.001200
Stick_2                            0.001045
Steering_Controls_2                0.001008
Backhoe_Mounting_2                 0.000759
Differential_Type_2                0.000585
dtype: float64


                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              min_samples_split = 3,
                              #min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 3234.4551868435087
Test RMSE: 6895.611625880774
R: 0.9110129664320346
Train MAE: 2040.0146683746823
Test MAE: 4323.151716690393
CPU times: user 10min 33s, sys: 9.72 s, total: 10min 43s
Wall time: 6min 38s



Train RMSE: 2623.3764905072476
Test RMSE: 6879.299913568742
R: 0.9114334698352154
Train MAE: 1672.5507568026585
Test MAE: 4293.475835885577
CPU times: user 10min 49s, sys: 8.61 s, total: 10min 58s
Wall time: 6min 43s                 

                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 2620.961711900337
Test RMSE: 6873.980067613758
R: 0.9115703960126401
Train MAE: 1671.7408275326327
Test MAE: 4296.2124614493905
CPU times: user 10min 58s, sys: 10.5 s, total: 11min 9s
Wall time: 6min 52s


n_jobs=-1,
                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 2624.6536928679798
Test RMSE: 6894.214809346597
R: 0.9110490142773096
Train MAE: 1677.6785246256932
Test MAE: 4319.768103644634
CPU times: user 10min 37s, sys: 12.3 s, total: 10min 50s
Wall time: 7min 3s           
                 
                    
                    
                               n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 9,
                              #max_samples=0.75

 Train RMSE: 2574.0196487169515
Test RMSE: 6811.207136202751
R: 0.9131780933625302
Train MAE: 1636.5375886291513
Test MAE: 4257.4615959293815
CPU times: user 11min 59s, sys: 12.2 s, total: 12min 12s
Wall time: 7min 56s









 no datasale                             n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.05,
                              random_state = 1579,
                              max_features = 'sqrt'
Train RMSE: 2779.9794156122625
Test RMSE: 7324.3405534683925
R: 0.8996035858616964
Train MAE: 1783.5671115015869
Test MAE: 4624.655565635093
CPU times: user 10min 14s, sys: 9.57 s, total: 10min 23s
Wall time: 6min 24s





                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf =2,                              
                              min_impurity_decrease = 5,
                              random_state = 1579,
                              max_features = 7

Train RMSE: 5424.064363521508
Test RMSE: 7528.221034310329
R: 0.8939365213796718
Train MAE: 3554.404287468027
Test MAE: 4842.0784194650505
CPU times: user 11min 11s, sys: 4.48 s, total: 11min 15s
Wall time: 7min 46s
        
        
        
        
                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf = 2,                            
                              min_impurity_decrease = 0.1,
                              random_state = 42,
                              max_features = 7
Train RMSE: 5335.234948793847
Test RMSE: 7503.297679143276
R: 0.8946376384019723
Train MAE: 3454.4514511575794
Test MAE: 4803.58357104811
CPU times: user 10min 59s, sys: 3.7 s, total: 11min 2s
Wall time: 6min 55s

                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf = 3,                            
                              min_impurity_decrease = 0.1,
                              random_state = 42,
                              max_features = 7
Train RMSE: 6179.925215580688
Test RMSE: 7741.035667306977
R: 0.8878551640015854
Train MAE: 4013.430026621435
Test MAE: 4991.823152557887
CPU times: user 9min 59s, sys: 4.66 s, total: 10min 3s
Wall time: 6min 15s

                              n_estimators = 300,
                              #max_depth = 10,
                              min_samples_leaf = 3,                            
                              min_impurity_decrease = 10,
                              random_state = 42,
                              max_features = 6
Train RMSE: 6592.250056673659
Test RMSE: 7995.827395285105
R: 0.8803513055519068
Train MAE: 4340.949567853815
Test MAE: 5206.9802407310535
CPU times: user 5min 9s, sys: 1.67 s, total: 5min 11s
Wall time: 3min 11s

                              n_estimators = 300,
                              #max_depth = 10,
                              min_impurity_decrease = 100,
                              random_state = 42,
                              max_features = 6                         
                                                           
Train RMSE: 4626.547888486479
Test RMSE: 7585.903834919565
R: 0.8923049334374425
Train MAE: 3373.6481817608865
Test MAE: 4979.49803403697
CPU times: user 5min 31s, sys: 3.43 s, total: 5min 35s
Wall time: 3min 30s                         
                                                         
                              n_estimators = 300,
                              #max_depth = 10,
                              min_impurity_decrease = 0,
                              random_state = 42,
                              max_features = 6
Train RMSE: 2738.938471045535
Test RMSE: 7309.166073829745
R: 0.9000191550681301
Train MAE: 1731.5073775323287
Test MAE: 4593.931985460746
CPU times: user 8min 23s, sys: 15.1 s, total: 8min 38s
Wall time: 5min 24s

# Testing Grid of parametrs

In [70]:
# %%time
# param_grid = {
#     'max_features': [5, 6, 7],
#     'min_impurity_decrease': [5, 1000],
#     #'n_estimators': [100, 200, 300]
# }

# model = RandomForestRegressor(n_jobs=-1,
#                               n_estimators = 200,
#                               #max_depth = 10,
#                               #min_impurity_decrease = 10,
#                               random_state = 57,
#                               #max_features = 'sqrt'
#                               )
# model.fit(X_train, y_train)
# # metrics for GridSearchCV
# scoring = {
#     'MSE': make_scorer(mean_squared_error, greater_is_better=False),
#     'R2': make_scorer(r2_score),
#     'MAE': make_scorer(mean_absolute_error, greater_is_better=False)
# }

# #  GridSearchCV
# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, scoring=scoring, refit='R2', return_train_score=True)
# grid_search.fit(X_train, y_train)

# # Results on the grid
# results = grid_search.cv_results_

# # Print resalts
# print("Best Parameters: ", grid_search.best_params_)
# print("Best Score: ", grid_search.best_score_)

# for mean_mse, mean_r2, mean_mae, params in zip(results['mean_test_MSE'], results['mean_test_R2'], results['mean_test_MAE'], results['params']):
#     print(f"Params: {params} - Mean Test MSE: {mean_mse} - Mean Test R2: {mean_r2} - Mean Test MAE: {mean_mae}")

# #       R2
# best_params = grid_search.best_params_
# best_model = grid_search.best_estimator_
# #      
# y_test_pred = best_model.predict(X_test)
# test_mse = mean_squared_error(y_test, y_test_pred)
# test_r2 = r2_score(y_test, y_test_pred)
# test_mae = mean_absolute_error(y_test, y_test_pred)
# print(f"\nTest MSE of the Best Model: {test_mse:.2f}")
# print(f"Test R2 of the Best Model: {test_r2:.2f}")
# print(f"Test MAE of the Best Model: {test_mae:.2f}")

# Prediction on the Validation datas

In [71]:
df2 = df
X_valid2 = df_valid

y = df2['SalePrice']
X = df2.drop(columns= ['SalePrice', 'MachineID', 'ModelID', 'SalesID', 'datasource'     ])
X_valid = X_valid2.drop(columns= ['MachineID', 'ModelID', 'SalesID', 'datasource'      ])

target_mean_dict, target_nan_mean_dict = make_target_mean_dict(X, y)
X = target_encode(X, target_mean_dict, target_nan_mean_dict)
X_valid = target_encode(X_valid, target_mean_dict, target_nan_mean_dict)

X = X.select_dtypes('number')
X_valid = X_valid.select_dtypes('number')

X = X.fillna(X.mean())
X_valid = X_valid.fillna(X.mean())

In [72]:
%%time
model = RandomForestRegressor(n_jobs=-1,
                              n_estimators = 300,
                              #max_depth = 12,
                              min_impurity_decrease = 0.1,
                              #min_samples_split = 3,
                              #random_state = 1579,
                              max_features = 9,
                              #max_samples=0.75
                              )
model.fit(X, y)

y_valid_pred = model.predict(X_valid)

CPU times: user 7min 36s, sys: 11.9 s, total: 7min 48s
Wall time: 4min 41s

In [79]:
y_valid_pred = model.predict(X_valid)

In [80]:
y_valid_pred = y_valid_pred *1.03

####Create a submission file
submission = pd.DataFrame({'SalesID': df_valid['SalesID'], 'SalePrice': y_valid_pred})
submission.to_csv('final_submission.csv', index=False)

### not used

In [74]:
# scaler = MinMaxScaler()  -   nothing to chenge
# X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns, index=X_train.index)
# X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns, index=X_test.index)
# X_valid = pd.DataFrame(scaler.transform(X_valid), columns=X_valid.columns, index=X_valid.index)

# feature_names = X_train.columns  is is aufully compicated
# imputer = SimpleImputer(strategy='mean')
# X_train = imputer.fit_transform(X_train)
# X_test = imputer.transform(X_test)
# X_valid = imputer.transform(X_valid)
# X_train = pd.DataFrame(X_train, columns=feature_names)
# X_test = pd.DataFrame(X_test, columns=feature_names)
# X_valid = pd.DataFrame(X_valid, columns=feature_names)

# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(20, 20))
# sns.heatmap(X.corr(), vmin=-1, fmt=".1f", vmax=1, annot=True, cmap='BrBG')
# plt.show()