<a href="https://colab.research.google.com/github/IlyaZutler/Project_2-Trucks/blob/main/DM%20_%20Project_2_7_garbege.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dynamic mitochondria Project - Heavy Machinery Auction Price Estimator

> https://www.kaggle.com/t/9baafb8850d74e4499c7b1ba97d6f115

### Timeline
- **Start Date:** [Start Date]
- **End Date:** 14/07/2024 (11 days to go)

### 2. Exploratory Data Analysis (EDA)


### 3. Data Preprocessing

### 6. Model Improvement

- Handle missing values and categorical variables more effectively.
- Use feature importances to identify key features.
- Perform feature engineering to create new informative features.
- Tune hyperparameters using grid search or other techniques.
- Monitor for overfitting by comparing training and testing performance.

## Practical Data Science Guidelines

- **Efficient Workflows:** Use a random subset of 20,000 rows for initial experiments. Use the full dataset for the final submission.
- **Iterative Approach:** Start with a basic model and iteratively improve it by trying small ideas.
- **Feature Engineering:** Transform and combine existing features creatively.
- **Documentation:** Keep track of your experiments and results. Document what works and what doesn't.

## Collaboration and Presentation

- **Collaboration:** Discuss your work openly within your team or with other teams. Sharing insights and learning from each other is encouraged.
- **Presentation:** Present your methodology, results, and the techniques that helped the most. Document your journey and the steps you took to achieve your results

In [68]:
import gdown
from pathlib import Path

import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, make_scorer

In [69]:
def download_from_gdrive(url, filename):
    # Extract the file ID from the URL
    file_id = url.split('/')[-2]
    download_url = f"https://drive.google.com/uc?id={file_id}"

    # Download the file
    if Path(filename).exists():
        print(f"File '{filename}' already exists. Skipping download.")
    else:
        gdown.download(download_url, filename, quiet=False)
        print(f"File downloaded as: {filename}")

train = 'https://drive.google.com/file/d/1guqSpDv1Q7ZZjSbXMYGbrTvGns0VCyU5/view?usp=drive_link'
valid = 'https://drive.google.com/file/d/1j7x8xhMimKbvW62D-XeDfuRyj9ia636q/view?usp=drive_link'
# Example usage

download_from_gdrive(train, 'train.csv')
download_from_gdrive(valid, 'valid.csv')

df = pd.read_csv('train.csv')
df_valid = pd.read_csv('valid.csv')

File 'train.csv' already exists. Skipping download.
File 'valid.csv' already exists. Skipping download.

<ipython-input-69-861d4f7287ed>:20: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

## Exploratory Data Analysis (EDA)

In [70]:
#df.fiProductClassDesc.value_counts()

In [71]:
#df.head().T

In [72]:
#df.info()

In [73]:
 #df.SalesID.nunique()

In [74]:
# df.isnull().sum()

In [75]:
#df.describe()

In [76]:
#sns.histplot(data=df, x='SalePrice', bins=20)

In [77]:
### to see value_counts for all categorical columns, but some realy categorical columns has numerical type like ModelID
# categorical_cols = df.select_dtypes(exclude='number').columns
# for col in categorical_cols:
#   print(f"Value counts for column '{col}':")
#   print(df[col].value_counts())
#   print(df_valid[col].value_counts())
#   print()
#   print(f"NaN values:{df[col].isnull().sum()}")
#   print(f"NaN valid values:{df_valid[col].isnull().sum()}")
#   print()
#   print()

### 3. Data Preprocessing

In [78]:
def Num_to_Object(X, col):
    for col_ in col:
        X[col] = X[col].astype('object')
    return X

df = Num_to_Object(df, col = ['datasource'])
df_valid = Num_to_Object(df_valid, col = ['datasource'])

In [79]:
def fix_mistakes(X, replacement_dict):
    for col, replacements in replacement_dict.items():
        X[col] = X[col].replace(replacements)
    return X

fix_mistakes(df, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})
fix_mistakes(df_valid, replacement_dict = {'Transmission': {'AutoShift': 'Autoshift'}})

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1222837,902859,1376,121,3,1000,0.0,NaN,1/5/2012 0:00,375L,375,NaN,NaN,L,Large / Medium,"Hydraulic Excavator, Track - 66.0 to 90.0 Metr...",Kentucky,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
1,1222839,1048320,36526,121,3,2006,4412.0,Medium,1/5/2012 0:00,TX300LC2,TX300,LC,2,NaN,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,Hydraulic,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN
2,1222841,999308,4587,121,3,2000,10127.0,Medium,1/5/2012 0:00,270LC,270,NaN,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 24.0 to 28.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
3,1222843,1062425,1954,121,3,1000,4682.0,Low,1/5/2012 0:00,892DLC,892,D,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
4,1222845,1032841,4701,121,3,2002,8150.0,Medium,1/4/2012 0:00,544H,544,H,NaN,NaN,NaN,Wheel Loader - 120.0 to 135.0 Horsepower,Florida,WL,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,20.5,Manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11568,6333344,1919201,21435,149,2,2005,NaN,NaN,3/7/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11569,6333345,1882122,21436,149,2,2005,NaN,NaN,1/28/2012 0:00,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11570,6333347,1944213,21435,149,2,2005,NaN,NaN,1/28/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11571,6333348,1794518,21435,149,2,2006,NaN,NaN,3/7/2012 0:00,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
11572,6333349,1944743,21436,149,2,2006,NaN,NaN,1/28/2012 0:00,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN

In [80]:
def fix_data(X, date_col):
    for col in date_col:
        X[col] = pd.to_datetime(X[col])
        X[col + '_Year'] = X[col].dt.year
        X[col + '_Month'] = X[col].dt.month
        X = X.drop(col, axis=1)
    return X

df = fix_data(df, date_col = ['saledate'])
df_valid = fix_data(df_valid, date_col = ['saledate'])

## inflation

In [81]:
ev_price = df.groupby('saledate_Year')['SalePrice'].mean().sort_index()
ev_price[2011]/ev_price[2010]
infl = 1.02
df['SalePrice'] = df['SalePrice'] * ( infl**(2012 - df['saledate_Year']))

# make new fichers

In [82]:
df.MachineHoursCurrentMeter.replace(0, np.nan, inplace=True)
df_valid.MachineHoursCurrentMeter.replace(0, np.nan, inplace=True)


df.loc[df['YearMade'] == 1000, 'YearMade'] = df['saledate_Year']
df_valid.loc[df_valid['YearMade'] == 1000, 'YearMade'] = df_valid['saledate_Year']

df['age_car'] = df['saledate_Year'] - df['YearMade']
df_valid['age_car'] = df_valid['saledate_Year'] - df_valid['YearMade']


###df['YearMade'] = df['YearMade'] + 1  ##cheating
df_valid['saledate_Year'] = df_valid['saledate_Year'] - 1    ##we have not in train 2012

In [83]:
def first_word_name(X, col):
    for col_ in col:
        X[col_+'_first_word'] = X[col_].apply(lambda x: x.split()[0] if isinstance(x, str) else x)
    return X

first_word_name(df, col = ['fiProductClassDesc'])
first_word_name(df_valid, col = ['fiProductClassDesc'])

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,fiModelDescriptor,ProductSize,fiProductClassDesc,state,ProductGroup,ProductGroupDesc,Drive_System,Enclosure,Forks,Pad_Type,Ride_Control,Stick,Transmission,Turbocharged,Blade_Extension,Blade_Width,Enclosure_Type,Engine_Horsepower,Hydraulics,Pushblock,Ripper,Scarifier,Tip_Control,Tire_Size,Coupler,Coupler_System,Grouser_Tracks,Hydraulics_Flow,Track_Type,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saledate_Year,saledate_Month,age_car,fiProductClassDesc_first_word
0,1222837,902859,1376,121,3,2012,NaN,NaN,375L,375,NaN,NaN,L,Large / Medium,"Hydraulic Excavator, Track - 66.0 to 90.0 Metr...",Kentucky,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,0,Hydraulic
1,1222839,1048320,36526,121,3,2006,4412.0,Medium,TX300LC2,TX300,LC,2,NaN,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,Hydraulic,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,Yes,Double,NaN,NaN,NaN,NaN,NaN,2011,1,6,Hydraulic
2,1222841,999308,4587,121,3,2000,10127.0,Medium,270LC,270,NaN,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 24.0 to 28.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS w AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,"12' 4""",None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,12,Hydraulic
3,1222843,1062425,1954,121,3,2012,4682.0,Low,892DLC,892,D,NaN,LC,Large / Medium,"Hydraulic Excavator, Track - 28.0 to 33.0 Metr...",Connecticut,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,0,Hydraulic
4,1222845,1032841,4701,121,3,2002,8150.0,Medium,544H,544,H,NaN,NaN,NaN,Wheel Loader - 120.0 to 135.0 Horsepower,Florida,WL,Wheel Loader,NaN,EROPS w AC,None or Unspecified,NaN,None or Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Valve,NaN,NaN,NaN,NaN,20.5,Manual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional,2011,1,10,Wheel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11568,6333344,1919201,21435,149,2,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,3,7,Hydraulic
11569,6333345,1882122,21436,149,2,2005,NaN,NaN,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Steel,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,7,Hydraulic
11570,6333347,1944213,21435,149,2,2005,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,7,Hydraulic
11571,6333348,1794518,21435,149,2,2006,NaN,NaN,30NX,30,NX,NaN,NaN,Mini,"Hydraulic Excavator, Track - 2.0 to 3.0 Metric...",Texas,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,3,6,Hydraulic
11572,6333349,1944743,21436,149,2,2006,NaN,NaN,30NX2,30,NX,2,NaN,Mini,"Hydraulic Excavator, Track - 3.0 to 4.0 Metric...",Florida,TEX,Track Excavators,NaN,EROPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Auxiliary,NaN,NaN,NaN,NaN,NaN,None or Unspecified,NaN,NaN,NaN,Rubber,None or Unspecified,None or Unspecified,None or Unspecified,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN,2011,1,6,Hydraulic

In [84]:
def ord_encod_nan(X, col, categories):
    encoder = OrdinalEncoder(categories=[categories], handle_unknown='use_encoded_value', unknown_value= -1)
    X[col + '_3'] = encoder.fit_transform(X[[col]])
    X[col + '_3'].replace(-1, np.nan, inplace=True)
    X[col + '_3'] = pd.to_numeric(X[col + '_3'], errors='coerce')
    X[col + '_3'] = X[col + '_3'].astype('float')

    return X


df = ord_encod_nan(df, col = 'UsageBand', categories = ['Low', 'Medium', 'High'])
df_valid = ord_encod_nan(df_valid, col = 'UsageBand', categories = ['Low', 'Medium', 'High'])

df = ord_encod_nan(df, col = 'ProductSize', categories = ['Mini', 'Compact', 'Small', 'Medium', 'Large / Medium', 'Large', 'High'])
df_valid = ord_encod_nan(df_valid, col = 'ProductSize', categories = ['Mini', 'Compact', 'Small', 'Medium', 'Large / Medium', 'Large', 'High'])

In [85]:
def replace_dict(X, col, repl_dict):
    new_name = col + '_3'

    X[new_name] = X[col]
    for old, new in repl_dict.items():
        X[new_name] = X[new_name].str.replace(old, new, regex=False)
    X[new_name].replace('None or Unspecified', -1)
    X[new_name].replace(-1, np.nan, inplace=True)
    X[new_name] = pd.to_numeric(X[new_name], errors='coerce')
    X[new_name] = X[new_name].astype('float')

    return X

df = replace_dict(df, col = 'Undercarriage_Pad_Width', repl_dict= {' inch': ''})
df_valid = replace_dict(df_valid, col= 'Undercarriage_Pad_Width', repl_dict = {' inch': ''})

df = replace_dict(df, col = 'Stick_Length', repl_dict= {"' ": '.', '"': ''})
df_valid = replace_dict(df_valid, col= 'Stick_Length', repl_dict = {"' ": '.', '"': ''})

In [86]:
#df[df['YearMade'] == 1000].head(20) # i have not idias what to do with year 1000

## Mean / Target encoding    (depend on test / train split)

In [87]:
def make_target_mean_dict(X, y):
    X1 = X.copy()
    y1 = pd.DataFrame(y)

    X1 = pd.concat([X1, y1], axis=1)
    X1 = X1.rename(columns={0: 'SalePrice'})

    target_mean_dict = {}
    target_nan_mean_dict = {}
    for col in X1.select_dtypes(exclude='number').columns:
        target_mean_dict[col] = X1.groupby(col)['SalePrice'].mean().to_dict()
        target_nan_mean_dict[col] = X1[X1[col].isna()]['SalePrice'].mean()
    X1 = X1.drop(columns=['SalePrice'])

    return target_mean_dict, target_nan_mean_dict



def target_encode(X, target_mean_dict, target_nan_mean_dict):
    for col in X.select_dtypes(exclude='number').columns:
        #X[col + '_2'] = X[col].map(target_mean_dict[col]).fillna(-1)
        X[col + '_2'] = X[col].map(target_mean_dict[col]).fillna(target_nan_mean_dict[col])
        X[col + '_2'] = X[col + '_2'].astype(float)
    return X

#target_mean_dict, target_nan_mean_dict = make_target_mean_dict(df, target_col = 'SalePrice')
#df = target_encode(df, target_mean_dict, target_nan_mean_dict)
#df_valid = target_encode(df_valid, target_mean_dict, target_nan_mean_dict)

# Testing model whith different parametrs

In [119]:
df2 = df.sample(1000, random_state=57)

y = df2['SalePrice']
X = df2.drop(columns= ['SalePrice', 'SalesID', 'MachineID', 'ModelID', 'datasource'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=179)

target_mean_dict, target_nan_mean_dict = make_target_mean_dict(X_train, y_train)
X_train = target_encode(X_train, target_mean_dict, target_nan_mean_dict)
X_test = target_encode(X_test, target_mean_dict, target_nan_mean_dict)

X_train = X_train.select_dtypes('number')
X_test = X_test.select_dtypes('number')

X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_train.mean())

X_test.reset_index(drop=True)
y_test.reset_index(drop=True)

0       33555.396960
1        8670.000000
2       46569.838696
3       56308.120963
4       35557.532428
5       26747.053128
6       14790.000000
7       49795.523693
8       57368.904480
9       90202.680000
10       9550.872000
11      46181.756707
12      58366.440000
13       8877.692562
14      20803.263544
15      78667.803317
16      23813.507520
17      49393.483709
18      23346.576000
19      21703.741997
20      26807.287491
21      17665.292851
22      31048.973597
23      22879.761752
24      44629.428751
25      33099.377513
26       6597.393815
27      21848.400000
28     130432.402939
29      29877.314216
30      13232.408426
31      32849.663694
32      21560.110508
33      13795.704000
34      28797.660534
35      19483.778880
36      26110.860476
37      40800.000000
38      14568.111725
39      14280.000000
40      87720.000000
41      63928.746070
42      34778.545301
43      27595.737123
44      24480.000000
45      35019.864000
46       5412.160800
47      19023.626918
48      25364.835891
49      10780.055254
50      14229.672935
51      34460.570029
52      26520.000000
53      65612.925336
54      23032.184638
55      71787.600000
56      43120.221015
57      34280.575707
58      16561.212048
59      29131.200000
60      28597.609093
61      13854.527012
62      10710.000000
63      29255.866080
64      37148.684899
65      29176.577120
66      65025.000000
67      48193.188193
68      43297.286400
69      14326.308000
70     127445.866610
71      88759.437120
72      84851.572372
73       9741.889440
74      70872.335578
75      28233.000524
76      28706.100883
77      76485.924392
78      13797.868562
79      55204.040160
80      13568.339352
81      77710.894275
82      64411.105283
83      72692.748000
84       6871.782270
85      21107.427120
86      26497.939277
87      25500.000000
88      40055.400000
89      23548.056187
90      36802.693440
91      10912.513843
92      42794.171932
93      18160.720406
94      20515.676089
95      99977.237330
96      36679.542098
97      19873.454458
98       9741.889440
99      59533.768800
100     22440.000000
101     80844.497289
102     36057.854943
103     11545.439177
104     14326.308000
105     90746.167744
106     27591.408000
107     16329.355079
108     86574.861563
109     33563.786818
110     11642.459674
111     29070.000000
112     51415.527600
113     22706.758804
114     40409.665023
115    107558.331176
116     37806.518318
117     50460.776454
118     57305.232000
119     34333.200000
120     61938.933060
121     26082.928397
122     17113.252450
123    105991.757107
124     44862.277944
125     79265.112160
126     23813.507520
127     32300.840120
128     22399.370519
129     19483.778880
130     22285.368000
131     32267.499353
132     58057.065575
133     48579.555341
134     61200.000000
135     39787.977869
136      8902.313924
137     12387.786612
138     16133.749676
139     84896.640000
140     11730.000000
141     14300.311955
142     68639.285255
143     45267.312931
144     16126.200000
145     26917.366766
146      5953.376880
147     52488.865195
148      5100.000000
149     43023.332470
150     18894.413510
151     27060.804000
152     16823.354229
153     33555.396960
154     13525.200000
155     24578.525979
156     98539.211686
157     14645.742263
158     18160.720406
159     78030.000000
160     19125.000000
161     63863.497440
162     35960.335390
163     23304.305088
164     47863.445327
165     18378.970682
166     25468.992000
167     25999.596000
168     34226.504899
169     13288.716547
170     19101.744000
171     30440.170193
172     38967.557760
173     24895.939680
174     16979.328000
175     19380.000000
176     41616.000000
177     13795.704000
178     10710.000000
179     20608.929162
180     17503.017740
181     22888.800000
182     24895.939680
183     24775.573224
184     13146.018255
185     58516.282570
186     12289.262989
187     16009.171646
188     11365.537680
189      8556.626225
190     30437.803070
191     15918.120000
192     24969.600000
193     56815.635729
194     60926.287812
195      5202.000000
196     21224.160000
197     71705.554117
198     73228.711313
199     14920.491701
Name: SalePrice, dtype: float64

## One single test

In [89]:
# plt.figure(figsize=(20, 20))
# sns.heatmap(X_train.corr(), vmin=-1, fmt=".1f", vmax=1, annot=True, cmap='BrBG')
# plt.show()

In [120]:
%%time

model = RandomForestRegressor(n_jobs=-1,
                              n_estimators = 100,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              min_samples_split = 3,
                              #min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75
                              )
model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

y_test_pred = pd.DataFrame(y_test_pred, columns=['SalePrice'])
print(y_test_pred['SalePrice'].isnull().sum())


X_test_pred = X_test.join(y_test_pred)
X_test_pred.head()
#y_test_pred.head()
# print(X_test_pred['SalePrice'].isnull().sum())

# X_test_pred['SalePrice'] = X_test_pred['SalePrice'] / ( infl**(2012 - X_test_pred['saledate_Year']))
# y_test_pred = X_test_pred['SalePrice']

# print(f'Train RMSE:', np.sqrt(mean_squared_error(y_train, y_train_pred)))
# print(f'Test RMSE:', np.sqrt(mean_squared_error(y_test, y_test_pred)))
# print(f'R:' , r2_score(y_test, y_test_pred))
# print(f'Train MAE:', mean_absolute_error(y_train, y_train_pred))
# print(f'Test MAE:', mean_absolute_error(y_test, y_test_pred))

0
CPU times: user 430 ms, sys: 24.7 ms, total: 454 ms
Wall time: 395 ms

,auctioneerID,YearMade,MachineHoursCurrentMeter,saledate_Year,saledate_Month,age_car,UsageBand_3,ProductSize_3,Undercarriage_Pad_Width_3,Stick_Length_3,UsageBand_2,fiModelDesc_2,fiBaseModel_2,fiSecondaryDesc_2,fiModelSeries_2,fiModelDescriptor_2,ProductSize_2,fiProductClassDesc_2,state_2,ProductGroup_2,ProductGroupDesc_2,Drive_System_2,Enclosure_2,Forks_2,Pad_Type_2,Ride_Control_2,Stick_2,Transmission_2,Turbocharged_2,Blade_Extension_2,Blade_Width_2,Enclosure_Type_2,Engine_Horsepower_2,Hydraulics_2,Pushblock_2,Ripper_2,Scarifier_2,Tip_Control_2,Tire_Size_2,Coupler_2,Coupler_System_2,Grouser_Tracks_2,Hydraulics_Flow_2,Track_Type_2,Undercarriage_Pad_Width_2,Stick_Length_2,Thumb_2,Pattern_Changer_2,Grouser_Type_2,Backhoe_Mounting_2,Blade_Type_2,Travel_Controls_2,Differential_Type_2,Steering_Controls_2,fiProductClassDesc_first_word_2,SalePrice
292051,1.0,2004,12125.874126,2008,10,4,0.846154,2.882038,29.129032,10.036111,35724.945039,29580.000000,26094.138574,29037.169831,56601.925830,32383.473265,27861.358983,25935.256001,36338.399404,25334.652724,25334.652724,23335.745964,25195.154892,26455.876636,24873.244416,25102.853595,24319.581338,33377.352138,24998.899603,34067.975159,34067.975159,34067.975159,34067.975159,25708.496830,34067.975159,32397.876298,34067.975159,34067.975159,31824.615046,37439.033535,40034.682543,40034.682543,40034.682543,34204.626265,34219.214403,34204.626265,34204.626265,34204.626265,34204.626265,34842.211484,34890.123527,34890.123527,34120.616952,34120.616952,25334.652724,NaN
281029,1.0,2004,1881.000000,2011,2,7,0.000000,0.000000,29.129032,10.036111,29007.495204,35893.650982,35893.650982,26433.030688,34819.268499,32383.473265,16341.315980,14645.055009,36338.399404,41295.841896,41295.841896,36034.041221,34868.160975,43056.147577,38094.771464,36341.245273,38094.771464,34593.202544,38094.771464,34067.975159,34067.975159,34067.975159,34067.975159,25046.158050,34067.975159,32397.876298,34067.975159,34067.975159,31824.615046,34322.354249,40034.682543,40034.682543,40034.682543,46041.674424,39874.369370,37441.370034,41912.171910,40062.052567,40930.420524,34842.211484,34890.123527,34890.123527,34120.616952,34120.616952,41295.841896,NaN
57702,2.0,1995,12125.874126,1999,8,4,0.846154,2.882038,29.129032,10.036111,35724.945039,52904.357828,54588.123126,54383.988460,34819.268499,32383.473265,27861.358983,42593.129609,27143.441765,46068.884233,46068.884233,36034.041221,34868.160975,42333.774528,38094.771464,44594.426900,38094.771464,34593.202544,38094.771464,34067.975159,34067.975159,34067.975159,34067.975159,42609.507616,34067.975159,32397.876298,34067.975159,34067.975159,47593.316169,34322.354249,40034.682543,40034.682543,40034.682543,34204.626265,34219.214403,34204.626265,34204.626265,34204.626265,34204.626265,34842.211484,34890.123527,34890.123527,46491.097672,45974.940324,46068.884233,NaN
71851,1.0,1999,12125.874126,2006,3,7,0.846154,2.000000,29.129032,10.600000,35724.945039,35893.650982,35893.650982,35073.180698,34819.268499,32383.473265,43038.676888,61952.931775,37397.042975,41295.841896,41295.841896,36034.041221,62233.187551,43056.147577,38094.771464,36341.245273,38094.771464,34593.202544,38094.771464,34067.975159,34067.975159,34067.975159,34067.975159,32477.994281,34067.975159,32397.876298,34067.975159,34067.975159,31824.615046,34322.354249,40034.682543,40034.682543,40034.682543,46041.674424,39874.369370,61687.117444,41912.171910,50138.334951,40930.420524,34842.211484,34890.123527,34890.123527,34120.616952,34120.616952,41295.841896,NaN
77687,1.0,1971,12125.874126,1990,10,19,0.846154,5.000000,29.129032,10.036111,35724.945039,29862.836196,42660.745056,52866.562322,34819.268499,32383.473265,40480.404922,42857.041890,27143.441765,39418.767084,39418.767084,36034.041221,25195.154892,43056.147577,38094.771464,36341.245273,38094.771464,33377.352138,38094.771464,34067.975159,34067.975159,34067.975159,34067.975159,42206.080533,34067.975159,45425.976239,34067.975159,34067.975159,31824.615046,37439.033535,40034.682543,40034.682543,40034.682543,34204.626265,34219.214403,34204.626265,34204.626265,34204.626265,34204.626265,39819.439875,38431.556853,37270.495440,34120.616952,34120.616952,39418.767084,NaN

In [102]:
y_test_pred.shape, X_test.shape

((200, 1), (200, 55))

In [104]:
# prompt: join X_test, y_test_pred

joined_data = X_test.join(y_test_pred)
joined_data.shape

(200, 56)

In [103]:

X_test_with_predictions = pd.concat([X_test, y_test_pred], axis=1)
X_test_with_predictions.shape

(400, 56)

In [91]:
# ## Feature importance
# pd.Series(
#     model.feature_importances_,
#     index=model.feature_names_in_
# ).sort_values(ascending=False)


                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              min_samples_split = 3,
                              #min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 3234.4551868435087
Test RMSE: 6895.611625880774
R: 0.9110129664320346
Train MAE: 2040.0146683746823
Test MAE: 4323.151716690393
CPU times: user 10min 33s, sys: 9.72 s, total: 10min 43s
Wall time: 6min 38s



Train RMSE: 2623.3764905072476
Test RMSE: 6879.299913568742
R: 0.9114334698352154
Train MAE: 1672.5507568026585
Test MAE: 4293.475835885577
CPU times: user 10min 49s, sys: 8.61 s, total: 10min 58s
Wall time: 6min 43s                 

                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 2620.961711900337
Test RMSE: 6873.980067613758
R: 0.9115703960126401
Train MAE: 1671.7408275326327
Test MAE: 4296.2124614493905
CPU times: user 10min 58s, sys: 10.5 s, total: 11min 9s
Wall time: 6min 52s


n_jobs=-1,
                              n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 'sqrt',
                              #max_samples=0.75

Train RMSE: 2624.6536928679798
Test RMSE: 6894.214809346597
R: 0.9110490142773096
Train MAE: 1677.6785246256932
Test MAE: 4319.768103644634
CPU times: user 10min 37s, sys: 12.3 s, total: 10min 50s
Wall time: 7min 3s           
                 
                    
                    
                               n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.1,
                              random_state = 1579,
                              max_features = 9,
                              #max_samples=0.75

 Train RMSE: 2574.0196487169515
Test RMSE: 6811.207136202751
R: 0.9131780933625302
Train MAE: 1636.5375886291513
Test MAE: 4257.4615959293815
CPU times: user 11min 59s, sys: 12.2 s, total: 12min 12s
Wall time: 7min 56s









 no datasale                             n_estimators = 300,
                              #max_depth = 10,
                              #min_samples_leaf = 2,
                              #min_samples_split = 3,
                              min_impurity_decrease = 0.05,
                              random_state = 1579,
                              max_features = 'sqrt'
Train RMSE: 2779.9794156122625
Test RMSE: 7324.3405534683925
R: 0.8996035858616964
Train MAE: 1783.5671115015869
Test MAE: 4624.655565635093
CPU times: user 10min 14s, sys: 9.57 s, total: 10min 23s
Wall time: 6min 24s





                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf =2,                              
                              min_impurity_decrease = 5,
                              random_state = 1579,
                              max_features = 7

Train RMSE: 5424.064363521508
Test RMSE: 7528.221034310329
R: 0.8939365213796718
Train MAE: 3554.404287468027
Test MAE: 4842.0784194650505
CPU times: user 11min 11s, sys: 4.48 s, total: 11min 15s
Wall time: 7min 46s
        
        
        
        
                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf = 2,                            
                              min_impurity_decrease = 0.1,
                              random_state = 42,
                              max_features = 7
Train RMSE: 5335.234948793847
Test RMSE: 7503.297679143276
R: 0.8946376384019723
Train MAE: 3454.4514511575794
Test MAE: 4803.58357104811
CPU times: user 10min 59s, sys: 3.7 s, total: 11min 2s
Wall time: 6min 55s

                              n_estimators = 500,
                              #max_depth = 10,
                              min_samples_leaf = 3,                            
                              min_impurity_decrease = 0.1,
                              random_state = 42,
                              max_features = 7
Train RMSE: 6179.925215580688
Test RMSE: 7741.035667306977
R: 0.8878551640015854
Train MAE: 4013.430026621435
Test MAE: 4991.823152557887
CPU times: user 9min 59s, sys: 4.66 s, total: 10min 3s
Wall time: 6min 15s

                              n_estimators = 300,
                              #max_depth = 10,
                              min_samples_leaf = 3,                            
                              min_impurity_decrease = 10,
                              random_state = 42,
                              max_features = 6
Train RMSE: 6592.250056673659
Test RMSE: 7995.827395285105
R: 0.8803513055519068
Train MAE: 4340.949567853815
Test MAE: 5206.9802407310535
CPU times: user 5min 9s, sys: 1.67 s, total: 5min 11s
Wall time: 3min 11s

                              n_estimators = 300,
                              #max_depth = 10,
                              min_impurity_decrease = 100,
                              random_state = 42,
                              max_features = 6                         
                                                           
Train RMSE: 4626.547888486479
Test RMSE: 7585.903834919565
R: 0.8923049334374425
Train MAE: 3373.6481817608865
Test MAE: 4979.49803403697
CPU times: user 5min 31s, sys: 3.43 s, total: 5min 35s
Wall time: 3min 30s                         
                                                         
                              n_estimators = 300,
                              #max_depth = 10,
                              min_impurity_decrease = 0,
                              random_state = 42,
                              max_features = 6
Train RMSE: 2738.938471045535
Test RMSE: 7309.166073829745
R: 0.9000191550681301
Train MAE: 1731.5073775323287
Test MAE: 4593.931985460746
CPU times: user 8min 23s, sys: 15.1 s, total: 8min 38s
Wall time: 5min 24s

# Testing Grid of parametrs

In [92]:
# %%time
# param_grid = {
#     'max_features': [5, 6, 7],
#     'min_impurity_decrease': [5, 1000],
#     #'n_estimators': [100, 200, 300]
# }

# model = RandomForestRegressor(n_jobs=-1,
#                               n_estimators = 200,
#                               #max_depth = 10,
#                               #min_impurity_decrease = 10,
#                               random_state = 57,
#                               #max_features = 'sqrt'
#                               )
# model.fit(X_train, y_train)
# # metrics for GridSearchCV
# scoring = {
#     'MSE': make_scorer(mean_squared_error, greater_is_better=False),
#     'R2': make_scorer(r2_score),
#     'MAE': make_scorer(mean_absolute_error, greater_is_better=False)
# }

# #  GridSearchCV
# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, scoring=scoring, refit='R2', return_train_score=True)
# grid_search.fit(X_train, y_train)

# # Results on the grid
# results = grid_search.cv_results_

# # Print resalts
# print("Best Parameters: ", grid_search.best_params_)
# print("Best Score: ", grid_search.best_score_)

# for mean_mse, mean_r2, mean_mae, params in zip(results['mean_test_MSE'], results['mean_test_R2'], results['mean_test_MAE'], results['params']):
#     print(f"Params: {params} - Mean Test MSE: {mean_mse} - Mean Test R2: {mean_r2} - Mean Test MAE: {mean_mae}")

# #       R2
# best_params = grid_search.best_params_
# best_model = grid_search.best_estimator_
# #      
# y_test_pred = best_model.predict(X_test)
# test_mse = mean_squared_error(y_test, y_test_pred)
# test_r2 = r2_score(y_test, y_test_pred)
# test_mae = mean_absolute_error(y_test, y_test_pred)
# print(f"\nTest MSE of the Best Model: {test_mse:.2f}")
# print(f"Test R2 of the Best Model: {test_r2:.2f}")
# print(f"Test MAE of the Best Model: {test_mae:.2f}")

# Prediction on the Validation datas

In [93]:
# df2 = df
# X_valid2 = df_valid

# y = df2['SalePrice']
# X = df2.drop(columns= ['SalePrice', 'MachineID', 'ModelID', 'SalesID', 'datasource'     ])
# X_valid = X_valid2.drop(columns= ['MachineID', 'ModelID', 'SalesID', 'datasource'      ])

# target_mean_dict, target_nan_mean_dict = make_target_mean_dict(X, y)
# X = target_encode(X, target_mean_dict, target_nan_mean_dict)
# X_valid = target_encode(X_valid, target_mean_dict, target_nan_mean_dict)

# X = X.select_dtypes('number')
# X_valid = X_valid.select_dtypes('number')

# X = X.fillna(X.mean())
# X_valid = X_valid.fillna(X.mean())

In [94]:
# %%time
# model = RandomForestRegressor(n_jobs=-1,
#                               n_estimators = 400,
#                               #max_depth = 12,
#                               min_impurity_decrease = 0.05,
#                               #min_samples_split = 3,
#                               #random_state = 1579,
#                               max_features = 9,
#                               #max_samples=0.75
#                               )
# model.fit(X, y)

# y_valid_pred = model.predict(X_valid)

In [95]:
# ####Create a submission file
# submission = pd.DataFrame({'SalesID': df_valid['SalesID'], 'SalePrice': y_valid_pred})
# submission.to_csv('final_submission.csv', index=False)

### not used

In [96]:
# scaler = MinMaxScaler()  -   nothing to chenge
# X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns, index=X_train.index)
# X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns, index=X_test.index)
# X_valid = pd.DataFrame(scaler.transform(X_valid), columns=X_valid.columns, index=X_valid.index)

# feature_names = X_train.columns  is is aufully compicated
# imputer = SimpleImputer(strategy='mean')
# X_train = imputer.fit_transform(X_train)
# X_test = imputer.transform(X_test)
# X_valid = imputer.transform(X_valid)
# X_train = pd.DataFrame(X_train, columns=feature_names)
# X_test = pd.DataFrame(X_test, columns=feature_names)
# X_valid = pd.DataFrame(X_valid, columns=feature_names)

# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(20, 20))
# sns.heatmap(X.corr(), vmin=-1, fmt=".1f", vmax=1, annot=True, cmap='BrBG')
# plt.show()